# Data management using Pandas

**Data management** is a crucial component to statistical analysis and data science work.

This notebook will show you how to import, view, undertand, and manage your data using the [Pandas](http://pandas.pydata.org) data processing library, i.e., the notebook will demonstrates how to read a dataset into Python, and obtain a basic understanding of its content.

Note that **Python** by itself is a general-purpose programming language and does not provide high-level data processing capabilities.  The **Pandas** library was developed to meet this need. **Pandas** is the most popular Python library for data manipulation, and we will use it extensively in this course. **Pandas** provides high-performance, easy-to-use data structures and data analysis tools.

The main data structure that **Pandas** works with is called a **Data Frame**. This is a two-dimensional table of data in which the rows typically
represent cases and the columns represent variables (e.g. data used in this tutorial).  Pandas also has a one-dimensional data structure called a **Series** that we will encounter when accesing a single column of a Data Frame.

Pandas has a variety of functions named `read_xxx` for reading data in different formats.  Right now we will focus on reading `csv` files, which stands for comma-separated values. However the other file formats include `excel`, `json`, and `sql`.

There are many other options to `read_csv` that are very useful.  For example, you would use the option `sep='\t'` instead of the default `sep=','` if the fields of your data file are delimited by tabs instead of commas.  See [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) for the full documentation for `read_csv`.


## Acknowledgments

- The dataset used in this tutorial is from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Importing libraries

In [2]:
# Import the packages that we will be using
import pandas as pd

# Importing data

In [3]:
# Definir si se ejecuta en Google Colab o localmente
RunInColab = True  # (False: no  | True: s√≠)

# Si se ejecuta en Google Colab:
if RunInColab:
    from google.colab import drive
    drive.mount('/content/drive')

    # Definir la ruta del archivo en la carpeta NotebooksProfessor
    Ruta = "/content/drive/My Drive/NotebooksProfessor/"

else:
    # Si se ejecuta localmente, definir la ruta donde se encuentra el archivo
    Ruta = ""

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
url = Ruta + "cartwheel.csv"

# Read the csv file into a data frame
df = pd.read_csv(url)

If we want to print the information about th output object type we would simply type the following: type(df)

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

# Exploring the content of the data set

Use the `shape` method to determine the numbers of rows and columns in a data frame. This can be used to confirm that we have actually obtained the data the we are expecting.

Based on what we see below, the data set being read here has $N_r$ rows, corresponding to $N_r$ observations, and $N_c$ columns, corresponding to $N_c$ variables in this particular data file.

In [7]:
# Use the shape method to determine the number of rows and columns
print(f"Nr (rows): {df.shape[0]}, Nc (columns): {df.shape[1]}")

Nr (rows): 52, Nc (columns): 12

If we want to show the entire data frame we would simply write the following:

In [9]:
print(df)

    ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0    1  56.0      F            1       Y             1   62.00      61.0
1    2  26.0      F            1       Y             1   62.00      60.0
2    3  33.0      F            1       Y             1   66.00      64.0
3    4  39.0      F            1       N             0   64.00      63.0
4    5  27.0      M            2       N             0   73.00      75.0
5    6  24.0      M            2       N             0   75.00      71.0
6    7  28.0      M            2       N             0   75.00      76.0
7    8  22.0      F            1       N             0   65.00      62.0
8    9  29.0      M            2       Y             1   74.00      73.0
9   10  33.0      F            1       Y             1   63.00      60.0
10  11  30.0      M            2       Y             1   69.50      66.0
11  12  28.0      F            1       Y             1   62.75      58.0
12  13  25.0      F            1       Y             1   65.00      64.5
13  14  23.0      F            1       N             0   61.50      57.5
14  15  31.0      M            2       Y             1   73.00      74.0
15  16  26.0      M            2       Y             1   71.00      72.0
16  17  26.0      F            1       N             0   61.50      59.5
17  18  27.0      M            2       N             0   66.00      66.0
18  19  23.0      M            2       Y             1   70.00      69.0
19  20  24.0      F            1       Y             1   68.00      66.0
20  21  23.0      M            2       Y             1   69.00      67.0
21  22  29.0      M            2       N             0   71.00      70.0
22  23  25.0      M            2       N             0   70.00      68.0
23  24  26.0      M            2       N             0   69.00      71.0
24  25  23.0      F            1       Y             1   65.00      63.0
25  26  28.0      M            2       N             0   75.00      76.0
26  27  24.0      M            2       N             0   78.40      71.0
27  28  25.0      M            2       Y             1   76.00      73.0
28  29  32.0      F            1       Y             1   63.00      60.0
29  30  38.0      F            1       Y             1   61.50      61.0
30  31  27.0      F            1       Y             1   62.00      60.0
31  32  33.0      F            1       Y             1   65.30      64.0
32  33  38.0      F            1       N             0   64.00      63.0
33  34  27.0      M            2       N             0   77.00      75.0
34  35  24.0      F            1       N             0   67.80      62.0
35  36  27.0      M            2       N             0   68.00      66.0
36  37  25.0      F            1       Y             1   65.00      64.5
37  38  26.0      F            1       N             0   61.50      59.5
38  39  31.0      M            2       Y             1   73.00      74.0
39  40  30.0      M            2       Y             1   69.50      66.0
40  41  23.0      F            1       N             0   70.40      71.0
41  42  26.0      M            2       Y             1   73.50      72.0
42  43  28.0      F            1       Y             1   72.50      72.0
43  44  26.0      F            1       Y             1   72.00      72.0
44  45  30.0      F            1       Y             1   66.00      64.0
45  46  39.0      F            1       N             0   64.00      63.0
46  47  27.0      M            2       N             0   78.00      75.0
47  48  24.0      M            2       N             0   79.50      75.0
48  49  28.0      M            2       N             0   77.80      76.0
49  50  30.0      F            1       N             0   74.60       NaN
50  51   NaN      M            2       N             0   71.00      70.0
51  52  27.0      M            2       N             0     NaN      71.5

    CWDistance Complete  CompleteGroup  Score
0           79        Y            1.0      7
1           70        Y            1.0      8
2           85        Y            1.0      7
3           87        Y            1.0     10
4           72        N            0.0      4
5           81        N            0.0      3
6          107        Y            1.0     10
7           98        Y            1.0      9
8          106        N            0.0      5
9           65        Y            1.0      8
10          96        Y            1.0      6
11          79        Y            1.0     10
12          92        Y            1.0      6
13          66        Y            1.0      4
14          72        Y            1.0      9
15         115        Y            1.0      6
16          90        N            0.0     10
17          74        Y            1.0      5
18          64        Y            1.0      3
19          85        Y            1.0      8
20          66        N            0.0      2
21         101        Y            1.0      8
22          82        Y            1.0      4
23          63        Y            1.0      5
24          67        N            0.0      3
25         111        Y            1.0     10
26          92        Y            1.0      7
27         107        Y            1.0      8
28          75        Y            1.0      8
29          78        Y            1.0      7
30          72        Y            1.0      8
31          91        Y            1.0      7
32          86        Y            1.0     10
33         100        Y            1.0      8
34          98        Y            1.0      9
35          74        Y            1.0      5
36          92        Y            1.0      6
37          90        Y            1.0      9
38          72        Y            1.0      9
39          96        Y            1.0      6
40          66        Y            1.0      4
41         115        Y            1.0      6
42          81        Y            1.0     10
43          92        Y            1.0      8
44          85        Y            1.0      7
45          87        Y            1.0     10
46          72        N            0.0      7
47          82        N            0.0      8
48          99        Y            1.0      9
49          71        Y            1.0      9
50         101        Y            NaN      8
51         103        Y            1.0     10

As you can see, we have a 2-Dimensional object where each row is an independent observation and each coloum is a variable.

Now, use the the `head()` function to show the first 5 rows of our data frame

In [10]:
print("\nPrimeras 5 filas del dataset:")
print(df.head())

Primeras 5 filas del dataset:
   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score
0          79        Y            1.0      7
1          70        Y            1.0      8
2          85        Y            1.0      7
3          87        Y            1.0     10
4          72        N            0.0      4

Also, you can use the the `tail()` function to show the last 5 rows of our data frame

In [11]:
print("\n√öltimas 5 filas del dataset:")
print(df.tail())

√öltimas 5 filas del dataset:
    ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
47  48  24.0      M            2       N             0    79.5      75.0
48  49  28.0      M            2       N             0    77.8      76.0
49  50  30.0      F            1       N             0    74.6       NaN
50  51   NaN      M            2       N             0    71.0      70.0
51  52  27.0      M            2       N             0     NaN      71.5

    CWDistance Complete  CompleteGroup  Score
47          82        N            0.0      8
48          99        Y            1.0      9
49          71        Y            1.0      9
50         101        Y            NaN      8
51         103        Y            1.0     10

The columns in a Pandas data frame have names, to see the names, use the `columns` method:

To gather more information regarding the data, we can view the column names with the following function:

In [12]:
print("\nNombres de las columnas:")
print(df.columns)

Nombres de las columnas:
Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

Be aware that every variable in a Pandas data frame has a data type.  There are many different data types, but most commonly you will encounter floating point values (real numbers), integers, strings (text), and date/time values.  When Pandas reads a text/csv file, it guesses the data types based on what it sees in the first few rows of the data file.  Usually it selects an appropriate type, but occasionally it does not.  To confirm that the data types are consistent with what the variables represent, inspect the `dtypes` attribute of the data frame.

In [13]:
print("\nTipos de datos de las variables:")
print(df.dtypes)

Tipos de datos de las variables:
ID                 int64
Age              float64
Gender            object
GenderGroup        int64
Glasses           object
GlassesGroup       int64
Height           float64
Wingspan         float64
CWDistance         int64
Complete          object
CompleteGroup    float64
Score              int64
dtype: object

Summary statistics, which include things like the mean, min, and max of the data, can be useful to get a feel for how large some of the variables are and what variables may be the most important.

In [14]:
# Summary statistics for the quantitative variables

print("\nEstad√≠sticas descriptivas del dataset:")
print(df.describe())

Estad√≠sticas descriptivas del dataset:
              ID        Age  GenderGroup  GlassesGroup     Height   Wingspan  \
count  52.000000  51.000000    52.000000     52.000000  51.000000  51.000000
mean   26.500000  28.411765     1.500000      0.500000  68.971569  67.313725
std    15.154757   5.755611     0.504878      0.504878   5.303812   5.624021
min     1.000000  22.000000     1.000000      0.000000  61.500000  57.500000
25%    13.750000  25.000000     1.000000      0.000000  64.500000  63.000000
50%    26.500000  27.000000     1.500000      0.500000  69.000000  66.000000
75%    39.250000  30.000000     2.000000      1.000000  73.000000  72.000000
max    52.000000  56.000000     2.000000      1.000000  79.500000  76.000000

       CWDistance  CompleteGroup      Score
count   52.000000      51.000000  52.000000
mean    85.576923       0.843137   7.173077
std     14.353173       0.367290   2.211566
min     63.000000       0.000000   2.000000
25%     72.000000       1.000000   6.000000
50%     85.000000       1.000000   8.000000
75%     96.500000       1.000000   9.000000
max    115.000000       1.000000  10.000000

In [16]:
# Drop observations with NaN values

print("\nEstad√≠sticas sin valores NaN en la columna 'Age':")
print(df['Age'].dropna().describe())

print("\nEstad√≠sticas sin valores NaN en la columna 'Wingspan':")
print(df['Wingspan'].dropna().describe())

Estad√≠sticas sin valores NaN en la columna 'Age':
count    51.000000
mean     28.411765
std       5.755611
min      22.000000
25%      25.000000
50%      27.000000
75%      30.000000
max      56.000000
Name: Age, dtype: float64

Estad√≠sticas sin valores NaN en la columna 'Wingspan':
count    51.000000
mean     67.313725
std       5.624021
min      57.500000
25%      63.000000
50%      66.000000
75%      72.000000
max      76.000000
Name: Wingspan, dtype: float64

It is also possible to get statistics on the entire data frame or a column as follows

- `df.mean()` Returns the mean of all columns
- `df.corr()` Returns the correlation between columns in a data frame
- `df.count()` Returns the number of non-null values in each data frame column
- `df.max()` Returns the highest value in each column
- `df.min()` Returns the lowest value in each column
- `df.median()` Returns the median of each column
- `df.std()` Returns the standard deviation of each column

In [20]:
# Filtrar solo las columnas num√©ricas
df_numeric = df.select_dtypes(include=['number'])

# Promedio de todas las columnas num√©ricas
print("\nPromedio de todas las columnas num√©ricas:")
print(df_numeric.mean())

# Correlaci√≥n entre las columnas num√©ricas
print("\nCorrelaci√≥n entre las columnas num√©ricas:")
print(df_numeric.corr())

# N√∫mero de valores no nulos en cada columna num√©rica
print("\nN√∫mero de valores no nulos por columna:")
print(df_numeric.count())

# Valor m√°ximo de cada columna num√©rica
print("\nValor m√°ximo de cada columna num√©rica:")
print(df_numeric.max())

# Valor m√≠nimo de cada columna num√©rica
print("\nValor m√≠nimo de cada columna num√©rica:")
print(df_numeric.min())

# Mediana de cada columna num√©rica
print("\nMediana de cada columna num√©rica:")
print(df_numeric.median())

# Desviaci√≥n est√°ndar de cada columna num√©rica
print("\nDesviaci√≥n est√°ndar de cada columna num√©rica:")
print(df_numeric.std())

Promedio de todas las columnas num√©ricas:
ID               26.500000
Age              28.411765
GenderGroup       1.500000
GlassesGroup      0.500000
Height           68.971569
Wingspan         67.313725
CWDistance       85.576923
CompleteGroup     0.843137
Score             7.173077
dtype: float64

Correlaci√≥n entre las columnas num√©ricas:
                     ID       Age  GenderGroup  GlassesGroup    Height  \
ID             1.000000 -0.139088     0.066630     -0.184513  0.313570
Age           -0.139088  1.000000    -0.263563      0.153441 -0.321105
GenderGroup    0.066630 -0.263563     1.000000     -0.230769  0.731284
GlassesGroup  -0.184513  0.153441    -0.230769      1.000000 -0.251782
Height         0.313570 -0.321105     0.731284     -0.251782  1.000000
Wingspan       0.272402 -0.250976     0.763129     -0.212414  0.941516
CWDistance     0.120251 -0.030501     0.265168     -0.075762  0.315947
CompleteGroup  0.110208  0.229843    -0.224166      0.116313 -0.242616
Score          0.223190  0.317358    -0.272192     -0.149266 -0.042706

               Wingspan  CWDistance  CompleteGroup     Score
ID             0.272402    0.120251       0.110208  0.223190
Age           -0.250976   -0.030501       0.229843  0.317358
GenderGroup    0.763129    0.265168      -0.224166 -0.272192
GlassesGroup  -0.212414   -0.075762       0.116313 -0.149266
Height         0.941516    0.315947      -0.242616 -0.042706
Wingspan       1.000000    0.326148      -0.198542 -0.044400
CWDistance     0.326148    1.000000       0.175570  0.368652
CompleteGroup -0.198542    0.175570       1.000000  0.372424
Score         -0.044400    0.368652       0.372424  1.000000

N√∫mero de valores no nulos por columna:
ID               52
Age              51
GenderGroup      52
GlassesGroup     52
Height           51
Wingspan         51
CWDistance       52
CompleteGroup    51
Score            52
dtype: int64

Valor m√°ximo de cada columna num√©rica:
ID                52.0
Age               56.0
GenderGroup        2.0
GlassesGroup       1.0
Height            79.5
Wingspan          76.0
CWDistance       115.0
CompleteGroup      1.0
Score             10.0
dtype: float64

Valor m√≠nimo de cada columna num√©rica:
ID                1.0
Age              22.0
GenderGroup       1.0
GlassesGroup      0.0
Height           61.5
Wingspan         57.5
CWDistance       63.0
CompleteGroup     0.0
Score             2.0
dtype: float64

Mediana de cada columna num√©rica:
ID               26.5
Age              27.0
GenderGroup       1.5
GlassesGroup      0.5
Height           69.0
Wingspan         66.0
CWDistance       85.0
CompleteGroup     1.0
Score             8.0
dtype: float64

Desviaci√≥n est√°ndar de cada columna num√©rica:
ID               15.154757
Age               5.755611
GenderGroup       0.504878
GlassesGroup      0.504878
Height            5.303812
Wingspan          5.624021
CWDistance       14.353173
CompleteGroup     0.367290
Score             2.211566
dtype: float64

# How to write a data frame to a File

To save a file with your data simply use the `to_csv` attribute

Examples:
- df.to_csv('myDataFrame.csv')
- df.to_csv('myDataFrame.csv', sep='\t')

In [22]:
# Save the data to a CSV file
df.to_csv('cartwheel_output.csv', index=False)

# Save the data with a tab separator
df.to_csv('cartwheel_output_tab_separated.csv', sep='\t', index=False)

# Rename columns

To change the name of a colum use the `rename` attribute

Example:

df = df.rename(columns={"Age": "Edad"})

df.head()

In [23]:
df = df.rename(columns={"Age": "Edad"})
print("\nRenombrado 'Age' a 'Edad':")
print(df.head())

Renombrado 'Age' a 'Edad':
   ID  Edad Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score
0          79        Y            1.0      7
1          70        Y            1.0      8
2          85        Y            1.0      7
3          87        Y            1.0     10
4          72        N            0.0      4

In [24]:
# Back to the original name
df = df.rename(columns={"Edad": "Age"})
print("\nVuelto al nombre original 'Age':")
print(df.head())

Vuelto al nombre original 'Age':
   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score
0          79        Y            1.0      7
1          70        Y            1.0      8
2          85        Y            1.0      7
3          87        Y            1.0     10
4          72        N            0.0      4

# Selection of colums

As discussed above, a Pandas data frame is a rectangular data table, in which the rows represent observations or samples and the columns represent variables.  One common manipulation of a data frame is to extract the data for one case or for one variable.  There are several ways to do this, as shown below.

To extract all the values for one column (variable), use one of the following alternatives.

In [25]:
a = df["Age"]  # Extract using the column name
print("\nValores de la columna 'Age':")
print(a)

Valores de la columna 'Age':
0     56.0
1     26.0
2     33.0
3     39.0
4     27.0
5     24.0
6     28.0
7     22.0
8     29.0
9     33.0
10    30.0
11    28.0
12    25.0
13    23.0
14    31.0
15    26.0
16    26.0
17    27.0
18    23.0
19    24.0
20    23.0
21    29.0
22    25.0
23    26.0
24    23.0
25    28.0
26    24.0
27    25.0
28    32.0
29    38.0
30    27.0
31    33.0
32    38.0
33    27.0
34    24.0
35    27.0
36    25.0
37    26.0
38    31.0
39    30.0
40    23.0
41    26.0
42    28.0
43    26.0
44    30.0
45    39.0
46    27.0
47    24.0
48    28.0
49    30.0
50     NaN
51    27.0
Name: Age, dtype: float64

# Slicing a data set

As discussed above, a Pandas data frame is a rectangular data table, in which the rows represent cases and the columns represent variables.  One common manipulation of a data frame is to extract the data for one observation or for one variable.  There are several ways to do this, as shown below.

Lets say we would like to splice our data frame and select only specific portions of our data.  There are three different ways of doing so.

1. .loc()
2. .iloc()
3. .ix()

We will cover the .loc() and .iloc() splicing functions.

The attibute **.loc()** uses labels/column names, in specific, it takes two single/list/range operator separated by ',', the first one indicates the rows and the second one indicates columns.

In [26]:
# Select rows 0 to 9 for the column 'CWDistance'
print("\nSubconjunto de las primeras 10 filas de 'CWDistance':")
print(df.loc[:9, "CWDistance"])

# Select multiple columns (e.g., 'Gender' and 'GenderGroup')
print("\nSubconjunto de las columnas 'Gender' y 'GenderGroup':")
print(df.loc[:, ["Gender", "GenderGroup"]])

Subconjunto de las primeras 10 filas de 'CWDistance':
0     79
1     70
2     85
3     87
4     72
5     81
6    107
7     98
8    106
9     65
Name: CWDistance, dtype: int64

Subconjunto de las columnas 'Gender' y 'GenderGroup':
   Gender  GenderGroup
0       F            1
1       F            1
2       F            1
3       F            1
4       M            2
5       M            2
6       M            2
7       F            1
8       M            2
9       F            1
10      M            2
11      F            1
12      F            1
13      F            1
14      M            2
15      M            2
16      F            1
17      M            2
18      M            2
19      F            1
20      M            2
21      M            2
22      M            2
23      M            2
24      F            1
25      M            2
26      M            2
27      M            2
28      F            1
29      F            1
30      F            1
31      F            1
32      F            1
33      M            2
34      F            1
35      M            2
36      F            1
37      F            1
38      M            2
39      M            2
40      F            1
41      M            2
42      F            1
43      F            1
44      F            1
45      F            1
46      M            2
47      M            2
48      M            2
49      F            1
50      M            2
51      M            2

The attribute **iloc()** is an integer based slicing.

In [27]:
# Selecting the first 4 rows for the first 4 columns
print("\nSeleccionando las primeras 4 filas y 4 columnas:")
print(df.iloc[:4, :4])

Seleccionando las primeras 4 filas y 4 columnas:
   ID   Age Gender  GenderGroup
0   1  56.0      F            1
1   2  26.0      F            1
2   3  33.0      F            1
3   4  39.0      F            1

# Get unique existing values

List unique values in the one of the columns

df.Gender.unique()

In [28]:
# List unique values in the df['Gender'] column

print("\nValores √∫nicos en la columna 'Gender':")
print(df['Gender'].unique())

Valores √∫nicos en la columna 'Gender':
['F' 'M']

In [29]:
# Lets explore df["GenderGroup] as well
print("\nValores √∫nicos en la columna 'GenderGroup':")
print(df['GenderGroup'].unique())

Valores √∫nicos en la columna 'GenderGroup':
[1 2]

# Filter, Sort and Groupby

With **Filter** you can use different conditions to filter columns. For example, df[df[year] > 1984] would give you only the column year is greater than 1984. You can use & (and) or | (or) to add different conditions to your filtering. This is also called boolean filtering.

df[df["Height"] >= 70]

In [30]:
print("\nFiltrando por 'Height' >= 70:")
print(df[df["Height"] >= 70])

Filtrando por 'Height' >= 70:
    ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
4    5  27.0      M            2       N             0    73.0      75.0
5    6  24.0      M            2       N             0    75.0      71.0
6    7  28.0      M            2       N             0    75.0      76.0
8    9  29.0      M            2       Y             1    74.0      73.0
14  15  31.0      M            2       Y             1    73.0      74.0
15  16  26.0      M            2       Y             1    71.0      72.0
18  19  23.0      M            2       Y             1    70.0      69.0
21  22  29.0      M            2       N             0    71.0      70.0
22  23  25.0      M            2       N             0    70.0      68.0
25  26  28.0      M            2       N             0    75.0      76.0
26  27  24.0      M            2       N             0    78.4      71.0
27  28  25.0      M            2       Y             1    76.0      73.0
33  34  27.0      M            2       N             0    77.0      75.0
38  39  31.0      M            2       Y             1    73.0      74.0
40  41  23.0      F            1       N             0    70.4      71.0
41  42  26.0      M            2       Y             1    73.5      72.0
42  43  28.0      F            1       Y             1    72.5      72.0
43  44  26.0      F            1       Y             1    72.0      72.0
46  47  27.0      M            2       N             0    78.0      75.0
47  48  24.0      M            2       N             0    79.5      75.0
48  49  28.0      M            2       N             0    77.8      76.0
49  50  30.0      F            1       N             0    74.6       NaN
50  51   NaN      M            2       N             0    71.0      70.0

    CWDistance Complete  CompleteGroup  Score
4           72        N            0.0      4
5           81        N            0.0      3
6          107        Y            1.0     10
8          106        N            0.0      5
14          72        Y            1.0      9
15         115        Y            1.0      6
18          64        Y            1.0      3
21         101        Y            1.0      8
22          82        Y            1.0      4
25         111        Y            1.0     10
26          92        Y            1.0      7
27         107        Y            1.0      8
33         100        Y            1.0      8
38          72        Y            1.0      9
40          66        Y            1.0      4
41         115        Y            1.0      6
42          81        Y            1.0     10
43          92        Y            1.0      8
46          72        N            0.0      7
47          82        N            0.0      8
48          99        Y            1.0      9
49          71        Y            1.0      9
50         101        Y            NaN      8

With **Sort** is possible to sort values in a certain column in an ascending order using `df.sort_values("ColumnName")` or in descending order using `df.sort_values(ColumnName, ascending=False)`.

Furthermore, it‚Äôs possible to sort values by Column1Name in ascending order then Column2Name in descending order by using `df.sort_values([Column1Name,Column2Name],ascending=[True,False])`


df.sort_values("Height")
#df.sort_values("Height",ascending=False)

In [31]:
print("\nOrdenando por 'Height' de mayor a menor:")
print(df.sort_values("Height", ascending=False))

Ordenando por 'Height' de mayor a menor:
    ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
47  48  24.0      M            2       N             0   79.50      75.0
26  27  24.0      M            2       N             0   78.40      71.0
46  47  27.0      M            2       N             0   78.00      75.0
48  49  28.0      M            2       N             0   77.80      76.0
33  34  27.0      M            2       N             0   77.00      75.0
27  28  25.0      M            2       Y             1   76.00      73.0
25  26  28.0      M            2       N             0   75.00      76.0
5    6  24.0      M            2       N             0   75.00      71.0
6    7  28.0      M            2       N             0   75.00      76.0
49  50  30.0      F            1       N             0   74.60       NaN
8    9  29.0      M            2       Y             1   74.00      73.0
41  42  26.0      M            2       Y             1   73.50      72.0
14  15  31.0      M            2       Y             1   73.00      74.0
38  39  31.0      M            2       Y             1   73.00      74.0
4    5  27.0      M            2       N             0   73.00      75.0
42  43  28.0      F            1       Y             1   72.50      72.0
43  44  26.0      F            1       Y             1   72.00      72.0
15  16  26.0      M            2       Y             1   71.00      72.0
21  22  29.0      M            2       N             0   71.00      70.0
50  51   NaN      M            2       N             0   71.00      70.0
40  41  23.0      F            1       N             0   70.40      71.0
18  19  23.0      M            2       Y             1   70.00      69.0
22  23  25.0      M            2       N             0   70.00      68.0
39  40  30.0      M            2       Y             1   69.50      66.0
10  11  30.0      M            2       Y             1   69.50      66.0
20  21  23.0      M            2       Y             1   69.00      67.0
23  24  26.0      M            2       N             0   69.00      71.0
19  20  24.0      F            1       Y             1   68.00      66.0
35  36  27.0      M            2       N             0   68.00      66.0
34  35  24.0      F            1       N             0   67.80      62.0
17  18  27.0      M            2       N             0   66.00      66.0
44  45  30.0      F            1       Y             1   66.00      64.0
2    3  33.0      F            1       Y             1   66.00      64.0
31  32  33.0      F            1       Y             1   65.30      64.0
12  13  25.0      F            1       Y             1   65.00      64.5
24  25  23.0      F            1       Y             1   65.00      63.0
36  37  25.0      F            1       Y             1   65.00      64.5
7    8  22.0      F            1       N             0   65.00      62.0
45  46  39.0      F            1       N             0   64.00      63.0
3    4  39.0      F            1       N             0   64.00      63.0
32  33  38.0      F            1       N             0   64.00      63.0
28  29  32.0      F            1       Y             1   63.00      60.0
9   10  33.0      F            1       Y             1   63.00      60.0
11  12  28.0      F            1       Y             1   62.75      58.0
30  31  27.0      F            1       Y             1   62.00      60.0
0    1  56.0      F            1       Y             1   62.00      61.0
1    2  26.0      F            1       Y             1   62.00      60.0
16  17  26.0      F            1       N             0   61.50      59.5
13  14  23.0      F            1       N             0   61.50      57.5
29  30  38.0      F            1       Y             1   61.50      61.0
37  38  26.0      F            1       N             0   61.50      59.5
51  52  27.0      M            2       N             0     NaN      71.5

    CWDistance Complete  CompleteGroup  Score
47          82        N            0.0      8
26          92        Y            1.0      7
46          72        N            0.0      7
48          99        Y            1.0      9
33         100        Y            1.0      8
27         107        Y            1.0      8
25         111        Y            1.0     10
5           81        N            0.0      3
6          107        Y            1.0     10
49          71        Y            1.0      9
8          106        N            0.0      5
41         115        Y            1.0      6
14          72        Y            1.0      9
38          72        Y            1.0      9
4           72        N            0.0      4
42          81        Y            1.0     10
43          92        Y            1.0      8
15         115        Y            1.0      6
21         101        Y            1.0      8
50         101        Y            NaN      8
40          66        Y            1.0      4
18          64        Y            1.0      3
22          82        Y            1.0      4
39          96        Y            1.0      6
10          96        Y            1.0      6
20          66        N            0.0      2
23          63        Y            1.0      5
19          85        Y            1.0      8
35          74        Y            1.0      5
34          98        Y            1.0      9
17          74        Y            1.0      5
44          85        Y            1.0      7
2           85        Y            1.0      7
31          91        Y            1.0      7
12          92        Y            1.0      6
24          67        N            0.0      3
36          92        Y            1.0      6
7           98        Y            1.0      9
45          87        Y            1.0     10
3           87        Y            1.0     10
32          86        Y            1.0     10
28          75        Y            1.0      8
9           65        Y            1.0      8
11          79        Y            1.0     10
30          72        Y            1.0      8
0           79        Y            1.0      7
1           70        Y            1.0      8
16          90        N            0.0     10
13          66        Y            1.0      4
29          78        Y            1.0      7
37          90        Y            1.0      9
51         103        Y            1.0     10

The attribute **Groupby** involves splitting the data into groups based on some criteria, applying a function to each group independently and combining the results into a data structure. df.groupby(col) returns a groupby object for values from one column while df.groupby([col1,col2]) returns a groupby object for values from multiple columns.

df.groupby(['Gender'])

In [33]:
print("\nAgrupando por 'Gender' y contando el tama√±o de cada grupo:")
print(df.groupby(['Gender']).size())

print("\nAgrupando por 'Gender' y 'GenderGroup' y contando el tama√±o de cada grupo:")
print(df.groupby(['Gender', 'GenderGroup']).size())

Agrupando por 'Gender' y contando el tama√±o de cada grupo:
Gender
F    26
M    26
dtype: int64

Agrupando por 'Gender' y 'GenderGroup' y contando el tama√±o de cada grupo:
Gender  GenderGroup
F       1              26
M       2              26
dtype: int64

Size of each group

df.groupby(['Gender']).size()

df.groupby(['Gender','GenderGroup']).size()

In [34]:
print("\nTama√±o de cada grupo en 'Gender':")
print(df.groupby(['Gender']).size())

Tama√±o de cada grupo en 'Gender':
Gender
F    26
M    26
dtype: int64

This output indicates that we have two types of combinations.

* Case 1: Gender = F & Gender Group = 1
* Case 2: Gender = M & GenderGroup = 2.  

This validates our initial assumption that these two fields essentially portray the same information.

# Data Cleaning: handle with missing data

Before getting started to work with your data, it's a good practice to observe it thoroughly to identify missing values and handle them accordingly.

When reading a dataset using Pandas, there is a set of values including 'NA', 'NULL', and 'NaN' that are taken by default to represent a missing value.  The full list of default missing value codes is in the '`read_csv`' documentation [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).  This document also explains how to change the way that '`read_csv`' decides whether a variable's value is missing.

Pandas has functions called `isnull` and `notnull` that can be used to identify where the missing and non-missing values are located in a data frame.  

Below we use these functions to count the number of missing and non-missing values in each variable of the datasetr.

Unfortunately, our output indicates that some of our columns contain missing values so we are no able to continue on doing analysis with those colums

In [37]:
print("\nContando valores nulos por columna:")
print(df.isnull().sum())
print("\nContando valores no nulos por columna:")
print(df.notnull().sum())

Contando valores nulos por columna:
ID               0
Age              1
Gender           0
GenderGroup      0
Glasses          0
GlassesGroup     0
Height           1
Wingspan         1
CWDistance       0
Complete         0
CompleteGroup    1
Score            0
dtype: int64

Contando valores no nulos por columna:
ID               52
Age              51
Gender           52
GenderGroup      52
Glasses          52
GlassesGroup     52
Height           51
Wingspan         51
CWDistance       52
Complete         52
CompleteGroup    51
Score            52
dtype: int64

Now we use these functions to count the number of missing and non-missing values in a single variable in the dataset

print( df.Height.notnull().sum() )

print( pd.isnull(df.Height).sum() )

In [39]:
# Extract all non-missing values of one of the columns into a new variable

x = df.Age.dropna().describe()
x.describe()

count     8.000000
mean     30.645922
std      16.044470
min       5.755611
25%      24.250000
50%      27.705882
75%      35.250000
max      56.000000
Name: Age, dtype: float64

# Add and eliminate columns

In some cases it is useful to create or eiminate new columns

In [40]:
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56.0,F,1,Y,1,62.0,61.0,79,Y,1.0,7
1,2,26.0,F,1,Y,1,62.0,60.0,70,Y,1.0,8
2,3,33.0,F,1,Y,1,66.0,64.0,85,Y,1.0,7
3,4,39.0,F,1,N,0,64.0,63.0,87,Y,1.0,10
4,5,27.0,M,2,N,0,73.0,75.0,72,N,0.0,4

In [43]:
# Add a new column with new data

NewColumnData = df['Age'] / df['Age']
df.insert(12, "AgeRatio", NewColumnData, True)
print("\nNuevo DataFrame con la columna 'AgeRatio' a√±adida:")

df.head()

Nuevo DataFrame con la columna 'AgeRatio' a√±adida:

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score,AgeRatio
0,1,56.0,F,1,Y,1,62.0,61.0,79,Y,1.0,7,1.0
1,2,26.0,F,1,Y,1,62.0,60.0,70,Y,1.0,8,1.0
2,3,33.0,F,1,Y,1,66.0,64.0,85,Y,1.0,7,1.0
3,4,39.0,F,1,N,0,64.0,63.0,87,Y,1.0,10,1.0
4,5,27.0,M,2,N,0,73.0,75.0,72,N,0.0,4,1.0

In [44]:
# # Eliminate inserted column
df.drop("AgeRatio", axis=1, inplace=True)
print("\nDataFrame despu√©s de eliminar la columna 'AgeRatio':")
print(df.head())

DataFrame despu√©s de eliminar la columna 'AgeRatio':
   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score
0          79        Y            1.0      7
1          70        Y            1.0      8
2          85        Y            1.0      7
3          87        Y            1.0     10
4          72        N            0.0      4

In [45]:
# # Add new column derived from existing columns
df["AgeInMonths"] = df["Age"] * 12
print("\nNuevo DataFrame con la columna 'AgeInMonths' a√±adida:")
print(df.head())

Nuevo DataFrame con la columna 'AgeInMonths' a√±adida:
   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score  AgeInMonths
0          79        Y            1.0      7        672.0
1          70        Y            1.0      8        312.0
2          85        Y            1.0      7        396.0
3          87        Y            1.0     10        468.0
4          72        N            0.0      4        324.0

In [46]:
# # Eliminate inserted column
df.drop("AgeInMonths", axis=1, inplace=True)
print("\nDataFrame despu√©s de eliminar la columna 'AgeInMonths':")
print(df.head())

DataFrame despu√©s de eliminar la columna 'AgeInMonths':
   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score
0          79        Y            1.0      7
1          70        Y            1.0      8
2          85        Y            1.0      7
3          87        Y            1.0     10
4          72        N            0.0      4

In [47]:
# Add a new column with text labels reflecting the code's meaning

df["GenderGroupNew"] = df.GenderGroup.replace({1: "Female", 2: "Male"})
print("\nNuevo DataFrame con la columna 'GenderGroupNew' a√±adida:")
print(df.head())

Nuevo DataFrame con la columna 'GenderGroupNew' a√±adida:
   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score GenderGroupNew
0          79        Y            1.0      7         Female
1          70        Y            1.0      8         Female
2          85        Y            1.0      7         Female
3          87        Y            1.0     10         Female
4          72        N            0.0      4           Male

In [48]:
## Eliminate inserted column
df.drop("GenderGroupNew", axis=1, inplace=True)
print("\nDataFrame despu√©s de eliminar la columna 'GenderGroupNew':")
print(df.head())

DataFrame despu√©s de eliminar la columna 'GenderGroupNew':
   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score
0          79        Y            1.0      7
1          70        Y            1.0      8
2          85        Y            1.0      7
3          87        Y            1.0     10
4          72        N            0.0      4

In [49]:
## Add a new column with strata based on these cut points
df["ColumnStrata"] = pd.cut(df.Height, [60., 63., 66., 69., 72., 75., 78.])
print("\nNuevo DataFrame con la columna 'ColumnStrata' a√±adida:")
print(df.head())

Nuevo DataFrame con la columna 'ColumnStrata' a√±adida:
   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score  ColumnStrata
0          79        Y            1.0      7  (60.0, 63.0]
1          70        Y            1.0      8  (60.0, 63.0]
2          85        Y            1.0      7  (63.0, 66.0]
3          87        Y            1.0     10  (63.0, 66.0]
4          72        N            0.0      4  (72.0, 75.0]

In [50]:
## Eliminate inserted column
df.drop("ColumnStrata", axis=1, inplace=True)
print("\nDataFrame despu√©s de eliminar la columna 'ColumnStrata':")
print(df.head())

DataFrame despu√©s de eliminar la columna 'ColumnStrata':
   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score
0          79        Y            1.0      7
1          70        Y            1.0      8
2          85        Y            1.0      7
3          87        Y            1.0     10
4          72        N            0.0      4

In [51]:
# Drop several "unused" columns
vars_to_drop = ["ID", "GenderGroup", "GlassesGroup", "CompleteGroup"]
df.drop(vars_to_drop, axis=1, inplace=True)
print("\nDataFrame despu√©s de eliminar varias columnas:")
print(df.head())

DataFrame despu√©s de eliminar varias columnas:
    Age Gender Glasses  Height  Wingspan  CWDistance Complete  Score
0  56.0      F       Y    62.0      61.0          79        Y      7
1  26.0      F       Y    62.0      60.0          70        Y      8
2  33.0      F       Y    66.0      64.0          85        Y      7
3  39.0      F       N    64.0      63.0          87        Y     10
4  27.0      M       N    73.0      75.0          72        N      4

# Add and eliminate rows

In some cases it is requiered to add new observations (rows) to the data set

In [52]:
# Print tail
print("\n√öltimas filas del DataFrame:")
print(df.tail())

√öltimas filas del DataFrame:
     Age Gender Glasses  Height  Wingspan  CWDistance Complete  Score
47  24.0      M       N    79.5      75.0          82        N      8
48  28.0      M       N    77.8      76.0          99        Y      9
49  30.0      F       N    74.6       NaN          71        Y      9
50   NaN      M       N    71.0      70.0         101        Y      8
51  27.0      M       N     NaN      71.5         103        Y     10

In [55]:
df.loc[len(df.index)] = [26,  'F', 1, 66, 'NaN', 68,  0, 3]

df.tail()

     Age Gender Glasses  Height Wingspan  CWDistance Complete  Score
48  28.0      M       N    77.8     76.0          99        Y      9
49  30.0      F       N    74.6      NaN          71        Y      9
50   NaN      M       N    71.0     70.0         101        Y      8
51  27.0      M       N     NaN     71.5         103        Y     10
52  26.0      F       1    66.0      NaN          68        0      3

In [56]:
## Eliminate inserted row
df.drop([28], inplace=True)
print("\nDataFrame despu√©s de eliminar la fila a√±adida:")
print(df.tail())

DataFrame despu√©s de eliminar la fila a√±adida:
     Age Gender Glasses  Height Wingspan  CWDistance Complete  Score
48  28.0      M       N    77.8     76.0          99        Y      9
49  30.0      F       N    74.6      NaN          71        Y      9
50   NaN      M       N    71.0     70.0         101        Y      8
51  27.0      M       N     NaN     71.5         103        Y     10
52  26.0      F       1    66.0      NaN          68        0      3

# Cleaning your data: drop out unused columns and/or drop out rows with any missing values

In [57]:
# Drop unused columns
df = df[["Age", "Gender", "Glasses", "Height", "Wingspan", "CWDistance", "Complete", "Score"]]
df = df.dropna()
print("\nDataFrame despu√©s de eliminar columnas no usadas y filas con valores faltantes:")
print(df.head())

DataFrame despu√©s de eliminar columnas no usadas y filas con valores faltantes:
    Age Gender Glasses  Height Wingspan  CWDistance Complete  Score
0  56.0      F       Y    62.0     61.0          79        Y      7
1  26.0      F       Y    62.0     60.0          70        Y      8
2  33.0      F       Y    66.0     64.0          85        Y      7
3  39.0      F       N    64.0     63.0          87        Y     10
4  27.0      M       N    73.0     75.0          72        N      4

# Final remarks


- The understanding of your dataset is essential
    - Number of observations
    - Variables
    - Data types: numerical or categorial
    - What are my variables of interest

- There are several ways to do the same thing

- Cleaning your dataset (dropping out rows with any missing values) is a good practice

- The **Pandas** library provides fancy, high-performance, easy-to-use data structures and data analysis tools

# Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column
    - Minimum, maximum, mean, average, median, standar deviation
    
    
2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data


3. Create a new dataset containing only the petal width and length and the type of Flower


4. Create a new dataset containing only the setal width and length and the type of Flower


5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [61]:
url = Ruta + "iris.csv"
df_iris = pd.read_csv(url)

# 1. Calcular el resumen estad√≠stico de las variables cuantitativas (Mean, Min, Max, etc.)
print("\nResumen estad√≠stico del dataset:")
print(df_iris.describe())

# 2. Identificar el nombre de cada columna
print("\nNombres de las columnas:")
print(df_iris.columns)

# 3. Identificar el tipo de cada columna
print("\nTipos de cada columna:")
print(df_iris.dtypes)

# 4. Calcular el m√≠nimo, m√°ximo, media, mediana, y desviaci√≥n est√°ndar
# Filtrar solo las columnas num√©ricas
numeric_columns = df_iris.select_dtypes(include=['float64', 'int64'])

# M√≠nimo, m√°ximo, media, mediana y desviaci√≥n est√°ndar solo de las columnas num√©ricas
print("\nM√≠nimo, m√°ximo, media, mediana y desviaci√≥n est√°ndar de las columnas num√©ricas:")

print(f"\nM√≠nimo:\n{numeric_columns.min()}")
print(f"\nM√°ximo:\n{numeric_columns.max()}")
print(f"\nMedia:\n{numeric_columns.mean()}")
print(f"\nMediana:\n{numeric_columns.median()}")
print(f"\nDesviaci√≥n est√°ndar:\n{numeric_columns.std()}")

# 5. Verificar si hay datos faltantes y crear un nuevo dataset sin los datos faltantes
print("\n¬øHay datos faltantes?")
print(df_iris.isnull().sum())  # Contar los valores faltantes por columna

# Crear un nuevo dataset con solo las filas que no tienen datos faltantes
df_iris_clean = df_iris.dropna()
print("\nNuevo dataset sin datos faltantes:")
print(df_iris_clean.head())

# 6. Crear un nuevo dataset con solo el ancho y largo de los p√©talos y el tipo de flor
df_petal = df_iris[['petal.length', 'petal.width', 'variety']]
print("\nNuevo dataset con solo el ancho y largo de los p√©talos y el tipo de flor:")
print(df_petal.head())

# 7. Crear un nuevo dataset con solo el ancho y largo del s√©palo y el tipo de flor
df_sepal = df_iris[['sepal.length', 'sepal.width', 'variety']]
print("\nNuevo dataset con solo el ancho y largo del s√©palo y el tipo de flor:")
print(df_sepal.head())

# 8. Crear un nuevo dataset con solo el ancho y largo del s√©palo y el tipo de flor codificado num√©ricamente
df_sepal_encoded = df_sepal.copy()
df_sepal_encoded['variety'] = df_sepal_encoded['variety'].map({'Setosa': 0, 'Versicolor': 1, 'Virginica': 2})
print("\nNuevo dataset con el tipo de flor codificado num√©ricamente:")
print(df_sepal_encoded.head())

Resumen estad√≠stico del dataset:
       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Nombres de las columnas:
Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

Tipos de cada columna:
sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

M√≠nimo, m√°ximo, media, mediana y desviaci√≥n est√°ndar de las columnas num√©ricas:

M√≠nimo:
sepal.length    4.3
sepal.width     2.0
petal.length    1.0
petal.width     0.1
dtype: float64

M√°ximo:
sepal.length    7.9
sepal.width     4.4
petal.length    6.9
petal.width     2.5
dtype: float64

Media:
sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

Mediana:
sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
dtype: float64

Desviaci√≥n est√°ndar:
sepal.length    0.828066
sepal.width     0.435866
petal.length    1.765298
petal.width     0.762238
dtype: float64

¬øHay datos faltantes?
sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

Nuevo dataset sin datos faltantes:
   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

Nuevo dataset con solo el ancho y largo de los p√©talos y el tipo de flor:
   petal.length  petal.width variety
0           1.4          0.2  Setosa
1           1.4          0.2  Setosa
2           1.3          0.2  Setosa
3           1.5          0.2  Setosa
4           1.4          0.2  Setosa

Nuevo dataset con solo el ancho y largo del s√©palo y el tipo de flor:
   sepal.length  sepal.width variety
0           5.1          3.5  Setosa
1           4.9          3.0  Setosa
2           4.7          3.2  Setosa
3           4.6          3.1  Setosa
4           5.0          3.6  Setosa

Nuevo dataset con el tipo de flor codificado num√©ricamente:
   sepal.length  sepal.width  variety
0           5.1          3.5        0
1           4.9          3.0        0
2           4.7          3.2        0
3           4.6          3.1        0
4           5.0          3.6        0