# Undertanding the cartwheel data set

The notebook aims to undertand the content of the cartwheel data set.


## Acknowledgments

- Data from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Cartwheel data set

1. A cartwheel

![cartwheel1.png](datasets/cartwheel/cartwheel1.png)

2. The dataset description
    - The dataset used here is an extension from the original cartwheel dataset from cursera
    - Total numer of observations: 28
    - Many observations/measurements/recordings of the characteristics/attributes/variables of cartwheel executions
    - Variables: Age, Gender, GenderGroup, Glasses, GlassesGroup, Height, Wingspan, CWDistance, ... (X variables)

# Importing and inspecting the data

In [4]:
# Import the packages that we will be using
import pandas as pd

# Dataset url
route = "datasets/cartwheel/cartwheel.csv"

# Load the dataset

datasets = pd.read_csv(route)

In [5]:
datasets

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56.0,F,1,Y,1,62.00,61.0,79,Y,1.0,7
1,2,26.0,F,1,Y,1,62.00,60.0,70,Y,1.0,8
2,3,33.0,F,1,Y,1,66.00,64.0,85,Y,1.0,7
3,4,39.0,F,1,N,0,64.00,63.0,87,Y,1.0,10
4,5,27.0,M,2,N,0,73.00,75.0,72,N,0.0,4
5,6,24.0,M,2,N,0,75.00,71.0,81,N,0.0,3
6,7,28.0,M,2,N,0,75.00,76.0,107,Y,1.0,10
7,8,22.0,F,1,N,0,65.00,62.0,98,Y,1.0,9
8,9,29.0,M,2,Y,1,74.00,73.0,106,N,0.0,5
9,10,33.0,F,1,Y,1,63.00,60.0,65,Y,1.0,8
10,11,30.0,M,2,Y,1,69.50,66.0,96,Y,1.0,6
11,12,28.0,F,1,Y,1,62.75,58.0,79,Y,1.0,10
12,13,25.0,F,1,Y,1,65.00,64.5,92,Y,1.0,6
13,14,23.0,F,1,N,0,61.50,57.5,66,Y,1.0,4
14,15,31.0,M,2,Y,1,73.00,74.0,72,Y,1.0,9
15,16,26.0,M,2,Y,1,71.00,72.0,115,Y,1.0,6
16,17,26.0,F,1,N,0,61.50,59.5,90,N,0.0,10
17,18,27.0,M,2,N,0,66.00,66.0,74,Y,1.0,5
18,19,23.0,M,2,Y,1,70.00,69.0,64,Y,1.0,3
19,20,24.0,F,1,Y,1,68.00,66.0,85,Y,1.0,8
20,21,23.0,M,2,Y,1,69.00,67.0,66,N,0.0,2
21,22,29.0,M,2,N,0,71.00,70.0,101,Y,1.0,8
22,23,25.0,M,2,N,0,70.00,68.0,82,Y,1.0,4
23,24,26.0,M,2,N,0,69.00,71.0,63,Y,1.0,5
24,25,23.0,F,1,Y,1,65.00,63.0,67,N,0.0,3
25,26,30.0,F,1,N,0,74.60,NaN,71,Y,1.0,9
26,27,NaN,M,2,N,0,71.00,70.0,101,Y,NaN,8
27,28,27.0,M,2,N,0,NaN,71.5,103,Y,1.0,10

# Final remarks


- The **Pandas** library provides fancy, high-performance, easy-to-use data structures and data analysis tools

# Activity: work with the iris dataset

1. Load the iris.csv file in your computer and compare with the data printed above.

In [2]:
import sys

modulename = 'pandas'
if modulename not in sys.modules:
    import pandas as pd

route = "datasets/iris/iris.csv"

df = pd.read_csv(route, header = None)

df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [3]:
Nr,Nc = df.shape

2. How many observations (rows) are in total?

In [4]:
print("Dataframe contains  " , Nr, " rows" )

Dataframe contains   150  rows

3. How many variables (columns) are in total? What do they represent?

In [5]:
print("Dataframe contains  " , Nc, " columns" )

Dataframe contains   5  columns

4. How many observatoins are for each type of flower?

In [26]:
counter = 0

for i in range(0,Nr):
    curr = df[4][i]
    nex = df[4][i+1] if (i != Nr-1) else "s"
    if (curr != nex):
        print (df[4][i], "contains ",counter+1, " observations on DF")
        counter = 0
    else:
        counter += 1

Iris-setosa contains  50  observations on DF
Iris-versicolor contains  50  observations on DF
Iris-virginica contains  50  observations on DF

In [36]:
df[4].value_count()

AttributeError: 'Series' object has no attribute 'value_count'

5. What is the type of data for each variable?

In [28]:
for i in range (Nc):
    print ("column number ", i, " has the following type: ", df[i][:].dtype)

column number  0  has the following type:  float64
column number  1  has the following type:  float64
column number  2  has the following type:  float64
column number  3  has the following type:  float64
column number  4  has the following type:  object

6. What are the units of each variable?

On "iris.names" says data are on cm