# Data management using Pandas

**Data management** is a crucial component to statistical analysis and data science work. 

This notebook will show you how to import, view, undertand, and manage your data using the [Pandas](http://pandas.pydata.org) data processing library, i.e., the notebook will demonstrates how to read a dataset into Python, and obtain a basic understanding of its content.

Note that **Python** by itself is a general-purpose programming language and does not provide high-level data processing capabilities.  The **Pandas** library was developed to meet this need. **Pandas** is the most popular Python library for data manipulation, and we will use it extensively in this course. **Pandas** provides high-performance, easy-to-use data structures and data analysis tools.

The main data structure that **Pandas** works with is called a **Data Frame**. This is a two-dimensional table of data in which the rows typically
represent cases and the columns represent variables (e.g. data used in this tutorial).  Pandas also has a one-dimensional data structure called a **Series** that we will encounter when accesing a single column of a Data Frame.

Pandas has a variety of functions named `read_xxx` for reading data in different formats.  Right now we will focus on reading `csv` files, which stands for comma-separated values. However the other file formats include `excel`, `json`, and `sql`. 

There are many other options to `read_csv` that are very useful.  For example, you would use the option `sep='\t'` instead of the default `sep=','` if the fields of your data file are delimited by tabs instead of commas.  See [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) for the full documentation for `read_csv`.


## Acknowledgments

- The dataset used in this tutorial is from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Importing libraries

In [2]:
# Import the packages that we will be using
import pandas as pd

# Importing data

In [3]:
# Dataset url
ruta = "datasets/iris/iris.csv"
# Load the dataset
df = pd.read_csv(ruta, header=None)
df = df.rename(columns = {0 : "SepalLength", 1 : "SepalWidth", 2 : "PetalLength", 3 : "PetalWidth", 4 : "Class"})

If we want to print the information about th output object type we would simply type the following: type(df)

In [4]:
type(df)

pandas.core.frame.DataFrame

# Exploring the content of the data set

Use the `shape` method to determine the numbers of rows and columns in a data frame. This can be used to confirm that we have actually obtained the data the we are expecting.

Based on what we see below, the data set being read here has $N_r$ rows, corresponding to $N_r$ observations, and $N_c$ columns, corresponding to $N_c$ variables in this particular data file.

In [5]:
Nr, Nc = df.shape

If we want to show the entire data frame we would simply write the following:

In [6]:
df

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

As you can see, we have a 2-Dimensional object where each row is an independent observation and each coloum is a variable.

Now, use the the `head()` function to show the first 5 rows of our data frame

In [7]:
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

Also, you can use the the `tail()` function to show the last 5 rows of our data frame

In [8]:
df.tail()

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

The columns in a Pandas data frame have names, to see the names, use the `columns` method:

To gather more information regarding the data, we can view the column names with the following function:

In [9]:
df.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Class'], dtype='object')

Be aware that every variable in a Pandas data frame has a data type.  There are many different data types, but most commonly you will encounter floating point values (real numbers), integers, strings (text), and date/time values.  When Pandas reads a text/csv file, it guesses the data types based on what it sees in the first few rows of the data file.  Usually it selects an appropriate type, but occasionally it does not.  To confirm that the data types are consistent with what the variables represent, inspect the `dtypes` attribute of the data frame.

In [10]:
df.dtypes

SepalLength    float64
SepalWidth     float64
PetalLength    float64
PetalWidth     float64
Class           object
dtype: object

Summary statistics, which include things like the mean, min, and max of the data, can be useful to get a feel for how large some of the variables are and what variables may be the most important.

In [11]:
# Summary statistics for the quantitative variables
df.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.057333     3.758000    1.199333
std       0.828066    0.435866     1.765298    0.762238
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [13]:
# Drop observations with NaN values

df.SepalLength.dropna().describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: SepalLength, dtype: float64

It is also possible to get statistics on the entire data frame or a column as follows

- `df.mean()` Returns the mean of all columns
- `df.corr()` Returns the correlation between columns in a data frame
- `df.count()` Returns the number of non-null values in each data frame column
- `df.max()` Returns the highest value in each column
- `df.min()` Returns the lowest value in each column
- `df.median()` Returns the median of each column
- `df.std()` Returns the standard deviation of each column

In [14]:
df.mean()

SepalLength    5.843333
SepalWidth     3.057333
PetalLength    3.758000
PetalWidth     1.199333
dtype: float64

# How to write a data frame to a File

To save a file with your data simply use the `to_csv` attribute

Examples:
- df.to_csv('myDataFrame.csv')
- df.to_csv('myDataFrame.csv', sep='\t')

In [15]:
df.to_csv('myDataFrameIris1.csv')
df.to_csv('myDataFrameIris2.csv', sep='\t')

# Rename columns

To change the name of a colum use the `rename` attribute

Example:

df = df.rename(columns={"Age": "Edad"})

df.head()

In [16]:
df1 = df.rename(columns={"PetalLength": "LargoPetalo"})
df1

     SepalLength  SepalWidth  LargoPetalo  PetalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [17]:
# Back to the original name
df

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

# Selection of colums

As discussed above, a Pandas data frame is a rectangular data table, in which the rows represent observations or samples and the columns represent variables.  One common manipulation of a data frame is to extract the data for one case or for one variable.  There are several ways to do this, as shown below.

To extract all the values for one column (variable), use one of the following alternatives.

In [19]:
a = df.PetalLength
b = df["PetalLength"]
c = df.loc[:, "PetalLength"]
d = df.iloc[:, 1]

print(d)

df[["PetalWidth", "Class"]]

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: SepalWidth, Length: 150, dtype: float64

     PetalWidth           Class
0           0.2     Iris-setosa
1           0.2     Iris-setosa
2           0.2     Iris-setosa
3           0.2     Iris-setosa
4           0.2     Iris-setosa
..          ...             ...
145         2.3  Iris-virginica
146         1.9  Iris-virginica
147         2.0  Iris-virginica
148         2.3  Iris-virginica
149         1.8  Iris-virginica

[150 rows x 2 columns]

# Slicing a data set

As discussed above, a Pandas data frame is a rectangular data table, in which the rows represent cases and the columns represent variables.  One common manipulation of a data frame is to extract the data for one observation or for one variable.  There are several ways to do this, as shown below.

Lets say we would like to splice our data frame and select only specific portions of our data.  There are three different ways of doing so.

1. .loc()
2. .iloc()
3. .ix()

We will cover the .loc() and .iloc() splicing functions.

The attibute **.loc()** uses labels/column names, in specific, it takes two single/list/range operator separated by ',', the first one indicates the rows and the second one indicates columns.

In [20]:

# Select multiple columns, ["Gender", "GenderGroup"]me 
keep = ['PetalLength', 'PetalLength']
df_petal = df[keep]
df_petal

     PetalLength  PetalLength
0            1.4          1.4
1            1.4          1.4
2            1.3          1.3
3            1.5          1.5
4            1.4          1.4
..           ...          ...
145          5.2          5.2
146          5.0          5.0
147          5.2          5.2
148          5.4          5.4
149          5.1          5.1

[150 rows x 2 columns]

The attribute **iloc()** is an integer based slicing.

In [21]:
# .
#df.iloc[1:5, 3:6]

# .
#df.iloc[:4, :]

# .
df.iloc[:, 3:7]

# .
#df.iloc[4:8, 2:4]

# This is incorrect:
#df.iloc[1:5, ["Gender", "GenderGroup"]]

     PetalWidth           Class
0           0.2     Iris-setosa
1           0.2     Iris-setosa
2           0.2     Iris-setosa
3           0.2     Iris-setosa
4           0.2     Iris-setosa
..          ...             ...
145         2.3  Iris-virginica
146         1.9  Iris-virginica
147         2.0  Iris-virginica
148         2.3  Iris-virginica
149         1.8  Iris-virginica

[150 rows x 2 columns]

# Get unique existing values

List unique values in the one of the columns

df.Gender.unique()

In [22]:
# List unique values in the df['Class'] column
df.Class.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

# Filter, Sort and Groupby

With **Filter** you can use different conditions to filter columns. For example, df[df[year] > 1984] would give you only the column year is greater than 1984. You can use & (and) or | (or) to add different conditions to your filtering. This is also called boolean filtering.

df[df["Height"] >= 70]

With **Sort** is possible to sort values in a certain column in an ascending order using `df.sort_values("ColumnName")` or in descending order using `df.sort_values(ColumnName, ascending=False)`. 

Furthermore, it’s possible to sort values by Column1Name in ascending order then Column2Name in descending order by using `df.sort_values([Column1Name,Column2Name],ascending=[True,False])`


df.sort_values("Height") 
#df.sort_values("Height",ascending=False)

The attribute **Groupby** involves splitting the data into groups based on some criteria, applying a function to each group independently and combining the results into a data structure. df.groupby(col) returns a groupby object for values from one column while df.groupby([col1,col2]) returns a groupby object for values from multiple columns.

df.groupby(['Gender'])

Size of each group

df.groupby(['Gender']).size()

df.groupby(['Gender','GenderGroup']).size()

This output indicates that we have two types of combinations. 

* Case 1: Gender = F & Gender Group = 1 
* Case 2: Gender = M & GenderGroup = 2.  

This validates our initial assumption that these two fields essentially portray the same information.

# Data Cleaning: handle with missing data

Before getting started to work with your data, it's a good practice to observe it thoroughly to identify missing values and handle them accordingly.

When reading a dataset using Pandas, there is a set of values including 'NA', 'NULL', and 'NaN' that are taken by default to represent a missing value.  The full list of default missing value codes is in the '`read_csv`' documentation [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).  This document also explains how to change the way that '`read_csv`' decides whether a variable's value is missing.

Pandas has functions called `isnull` and `notnull` that can be used to identify where the missing and non-missing values are located in a data frame.  

Below we use these functions to count the number of missing and non-missing values in each variable of the datasetr.

In [23]:
df.isnull()

     SepalLength  SepalWidth  PetalLength  PetalWidth  Class
0          False       False        False       False  False
1          False       False        False       False  False
2          False       False        False       False  False
3          False       False        False       False  False
4          False       False        False       False  False
..           ...         ...          ...         ...    ...
145        False       False        False       False  False
146        False       False        False       False  False
147        False       False        False       False  False
148        False       False        False       False  False
149        False       False        False       False  False

[150 rows x 5 columns]

Unfortunately, our output indicates that some of our columns contain missing values so we are no able to continue on doing analysis with those colums

In [24]:
df.isnull().sum()
#df.notnull().sum()

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Class          0
dtype: int64

Now we use these functions to count the number of missing and non-missing values in a single variable in the dataset

print( df.Height.notnull().sum() )

print( pd.isnull(df.Height).sum() )

In [26]:
print( df.Class.notnull().sum() )
print( pd.isnull(df.Class).sum() )

150
0

# Add and eliminate columns

In some cases it is useful to create or eiminate new columns

In [27]:
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [32]:
# Add a new column with new data

# Create a column data
NewColumnData = df.PetalLength/2.54

# Insert that column in the data frame
df.insert(5, "PetalLengthIn", NewColumnData, True)

df.head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,Class,PetalLengthIn
0,5.1,3.5,1.4,0.2,Iris-setosa,0.551181
1,4.9,3.0,1.4,0.2,Iris-setosa,0.551181
2,4.7,3.2,1.3,0.2,Iris-setosa,0.511811
3,4.6,3.1,1.5,0.2,Iris-setosa,0.590551
4,5.0,3.6,1.4,0.2,Iris-setosa,0.551181

In [33]:
# # Eliminate inserted column
df.drop("PetalLengthIn", axis=1, inplace = True)
# #df.drop(columns=['ColumnInserted'], inplace = True)
# # Remove three columns as index base
# #df.drop(df.columns[[12]], axis = 1, inplace = True)
#
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [34]:
# # Add new column derived from existing columns
#
# # The new column is a function of another column
df["PetalLengthIn"] = df["PetalLength"] / 2.54
# 
df.head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,Class,PetalLengthIn
0,5.1,3.5,1.4,0.2,Iris-setosa,0.551181
1,4.9,3.0,1.4,0.2,Iris-setosa,0.551181
2,4.7,3.2,1.3,0.2,Iris-setosa,0.511811
3,4.6,3.1,1.5,0.2,Iris-setosa,0.590551
4,5.0,3.6,1.4,0.2,Iris-setosa,0.551181

In [39]:
# # Eliminate inserted column
df.drop("PetalLengthIn", axis=1, inplace = True)
#
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class  ClassNum
0          5.1         3.5          1.4         0.2  Iris-setosa         1
1          4.9         3.0          1.4         0.2  Iris-setosa         1
2          4.7         3.2          1.3         0.2  Iris-setosa         1
3          4.6         3.1          1.5         0.2  Iris-setosa         1
4          5.0         3.6          1.4         0.2  Iris-setosa         1

In [40]:
# Add a new column with text labels reflecting the code's meaning

df["ClassNum"] = df.Class.replace({"Iris-setosa": 1, "Iris-versicolor": 2, "Iris-virginica": 3})

# Show the first 5 rows of the created data frame
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class  ClassNum
0          5.1         3.5          1.4         0.2  Iris-setosa         1
1          4.9         3.0          1.4         0.2  Iris-setosa         1
2          4.7         3.2          1.3         0.2  Iris-setosa         1
3          4.6         3.1          1.5         0.2  Iris-setosa         1
4          5.0         3.6          1.4         0.2  Iris-setosa         1

In [41]:
## Eliminate inserted column
df.drop("ClassNum", axis=1, inplace = True)
#df.drop(['GenderGroupNew'],vaxis='columns',vinplace=True)
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [46]:
## Add a new column with strata based on these cut points
#
## Create a column data
#NewColumnData = df.Age/df.Age
#
## Insert that column in the data frame
#df.insert(1, "ColumnStrata", NewColumnData, True)
#
#df["ColumnStrata"] = pd.cut(df.Height, [60., 63., 66., 69., 72., 75., 78.])
#
## Show the first 5 rows of the created data frame
#df.head()

In [47]:
## Eliminate inserted column
#df.drop("ColumnStrata", axis=1, inplace = True)
#
#df.head()

In [48]:
# Drop several "unused" columns
#vars = ["ID", "GenderGroup", "GlassesGroup", "CompleteGroup"]
#df.drop(vars, axis=1, inplace = True)

# Add and eliminate rows

In some cases it is requiered to add new observations (rows) to the data set

In [42]:
# Print tail
df.tail()

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [44]:
df.loc[len(df.index)] = [6.2,2.2,5.3,1.9,"Iris-virginica"] 
#
df.tail()

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica
150          6.2         2.2          5.3         1.9  Iris-virginica

In [45]:
## Eliminate inserted row
df.drop([150], inplace = True )
#
df.tail()

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

# Cleaning your data: drop out unused columns and/or drop out rows with any missing values

In [52]:
# Drop unused columns
#vars = ["ID", "GenderGroup", "GlassesGroup", "CompleteGroup"]
#df.drop(vars, axis=1, inplace = True)

#vars = ["Age", "Gender", "Glasses", "Height", "Wingspan", "CWDistance", "Complete", "Score"]
#df = df[vars]

# Drop rows with any missing values
#df = df.dropna()

# Drop unused columns and drop rows with any missing values
#vars = ["Age", "Gender", "Glasses", "Height", "Wingspan", "CWDistance", "Complete", "Score"]
#df = df[vars].dropna()

#df

# Final remarks


- The understanding of your dataset is essential
    - Number of observations
    - Variables
    - Data types: numerical or categorial
    - What are my variables of interest

- There are several ways to do the same thing

- Cleaning your dataset (dropping out rows with any missing values) is a good practice

- The **Pandas** library provides fancy, high-performance, easy-to-use data structures and data analysis tools

# Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column
    - Minimum, maximum, mean, average, median, standar deviation
    
    
2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data


3. Create a new dataset containing only the petal width and length and the type of Flower


4. Create a new dataset containing only the setal width and length and the type of Flower


5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [80]:
print("1. ", df.dtypes,"\n", df.describe(),"\n")
print("2. ", df.isnull().sum(), "\nno missing data\n")
print("3. \n", df2)
df2 = df[["PetalWidth", "PetalLength", "Class"]]
df2.to_csv('Iris3.csv')
print("4. \n", df3, "\n")
df3 = df[["SepalWidth", "SepalLength", "Class"]]
df3.to_csv('Iris4.csv')
df["EncodedClass"] = df.Class.replace({"Iris-setosa": 1, "Iris-versicolor": 2, "Iris-virginica": 3})
df4 = df[["SepalWidth", "SepalLength", "EncodedClass"]]
df4.to_csv('Iris5.csv')
print("5. \n", df4)
df4.to_csv("Iris5.csv")
df.drop("EncodedClass", axis=1, inplace = True)

1.  SepalLength     float64
SepalWidth      float64
PetalLength     float64
PetalWidth      float64
Class            object
EncodedClass      int64
dtype: object
        SepalLength  SepalWidth  PetalLength  PetalWidth  EncodedClass
count   150.000000  150.000000   150.000000  150.000000    150.000000
mean      5.843333    3.057333     3.758000    1.199333      2.000000
std       0.828066    0.435866     1.765298    0.762238      0.819232
min       4.300000    2.000000     1.000000    0.100000      1.000000
25%       5.100000    2.800000     1.600000    0.300000      1.000000
50%       5.800000    3.000000     4.350000    1.300000      2.000000
75%       6.400000    3.300000     5.100000    1.800000      3.000000
max       7.900000    4.400000     6.900000    2.500000      3.000000

2.  SepalLength     0
SepalWidth      0
PetalLength     0
PetalWidth      0
Class           0
EncodedClass    0
dtype: int64
no missing data

3.
      PetalWidth  PetalLength           Class
0           0.2          1.4     Iris-setosa
1           0.2          1.4     Iris-setosa
2           0.2          1.3     Iris-setosa
3           0.2          1.5     Iris-setosa
4           0.2          1.4     Iris-setosa
..          ...          ...             ...
145         2.3          5.2  Iris-virginica
146         1.9          5.0  Iris-virginica
147         2.0          5.2  Iris-virginica
148         2.3          5.4  Iris-virginica
149         1.8          5.1  Iris-virginica

[150 rows x 3 columns]
4.
      SepalWidth  SepalLength           Class
0           3.5          5.1     Iris-setosa
1           3.0          4.9     Iris-setosa
2           3.2          4.7     Iris-setosa
3           3.1          4.6     Iris-setosa
4           3.6          5.0     Iris-setosa
..          ...          ...             ...
145         3.0          6.7  Iris-virginica
146         2.5          6.3  Iris-virginica
147         3.0          6.5  Iris-virginica
148         3.4          6.2  Iris-virginica
149         3.0          5.9  Iris-virginica

[150 rows x 3 columns]

5.
      SepalWidth  SepalLength  EncodedClass
0           3.5          5.1             1
1           3.0          4.9             1
2           3.2          4.7             1
3           3.1          4.6             1
4           3.6          5.0             1
..          ...          ...           ...
145         3.0          6.7             3
146         2.5          6.3             3
147         3.0          6.5             3
148         3.4          6.2             3
149         3.0          5.9             3

[150 rows x 3 columns]