# Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column
    - Minimum, maximum, mean, average, median, standar deviation
    
    
2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data


3. Create a new dataset containing only the petal width and length and the type of Flower


4. Create a new dataset containing only the setal width and length and the type of Flower


5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [17]:
import pandas as pd

ruta = "datasets/iris/iris.csv"
dataset = pd.read_csv(ruta)

# 1

In [18]:
dataset.columns

Index(['setalL', 'setalW', 'petalL', 'petalW', 'Class'], dtype='object')

In [19]:
dataset.dtypes

setalL    float64
setalW    float64
petalL    float64
petalW    float64
Class      object
dtype: object

In [20]:
dataset.describe()

           setalL      setalW      petalL      petalW
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

# 2
There is no missing data

In [23]:
dataset.isnull().sum()

setalL    0
setalW    0
petalL    0
petalW    0
Class     0
dtype: int64

# 3

In [30]:
dpetal = dataset.loc[:,["petalW", "petalL", "Class"]]
dpetal

     petalW  petalL           Class
0       0.2     1.4     Iris-setosa
1       0.2     1.4     Iris-setosa
2       0.2     1.3     Iris-setosa
3       0.2     1.5     Iris-setosa
4       0.2     1.4     Iris-setosa
..      ...     ...             ...
145     2.3     5.2  Iris-virginica
146     1.9     5.0  Iris-virginica
147     2.0     5.2  Iris-virginica
148     2.3     5.4  Iris-virginica
149     1.8     5.1  Iris-virginica

[150 rows x 3 columns]

# 4

In [31]:
dsetal = dataset.loc[:,["setalW", "setalL", "Class"]]
dsetal

     setalW  setalL           Class
0       3.5     5.1     Iris-setosa
1       3.0     4.9     Iris-setosa
2       3.2     4.7     Iris-setosa
3       3.1     4.6     Iris-setosa
4       3.6     5.0     Iris-setosa
..      ...     ...             ...
145     3.0     6.7  Iris-virginica
146     2.5     6.3  Iris-virginica
147     3.0     6.5  Iris-virginica
148     3.4     6.2  Iris-virginica
149     3.0     5.9  Iris-virginica

[150 rows x 3 columns]

# 5

In [32]:
dsetal = dataset.loc[:,["setalW", "setalL", "Class"]]
dsetal["Classnum"] = dsetal.Class.replace({"Iris-setosa": 1, "Iris-versicolor":2, "Iris-virginica":3})
dsetal.drop("Class", axis=1, inplace = True)
dsetal

     setalW  setalL  Classnum
0       3.5     5.1         1
1       3.0     4.9         1
2       3.2     4.7         1
3       3.1     4.6         1
4       3.6     5.0         1
..      ...     ...       ...
145     3.0     6.7         3
146     2.5     6.3         3
147     3.0     6.5         3
148     3.4     6.2         3
149     3.0     5.9         3

[150 rows x 3 columns]