# Undertanding the cartwheel data set

The notebook aims to undertand the content of the cartwheel data set.


## Acknowledgments

- Data from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Cartwheel data set

1. A cartwheel

![cartwheel1.png](datasets/cartwheel/cartwheel1.png)

2. The dataset description
    - The dataset used here is an extension from the original cartwheel dataset from cursera
    - Total numer of observations: 28
    - Many observations/measurements/recordings of the characteristics/attributes/variables of cartwheel executions
    - Variables: Age, Gender, GenderGroup, Glasses, GlassesGroup, Height, Wingspan, CWDistance, ... (X variables)

# Importing and inspecting the data

In [1]:
# Import the packages that we will be using
import pandas as pd

# Dataset url
ruta = "dataset/iris/iris.csv"

# Load the dataset
datasets = pd.read_csv(ruta)

In [2]:
datasets

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

# Final remarks


- The **Pandas** library provides fancy, high-performance, easy-to-use data structures and data analysis tools

# Activity: work with the iris dataset

1. Load the iris.csv file in your computer and compare with the data printed above.


2. How many observations (rows) are in total?


3. How many variables (columns) are in total? What do they represent?


4. How many observatoins are for each type of flower? 


5. What is the type of data for each variable?


6. What are the units of each variable?

In [22]:
import pandas as pd

# Dataset url
ruta = "dataset/iris/iris.csv"

# Load the dataset
datasets = pd.read_csv(ruta)
datasets['Class'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: Class, dtype: int64

In [19]:
print(datasets)

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [20]:
datasets.dtypes

SepalLength    float64
SepalWidth     float64
PetalLength    float64
PetalWidth     float64
Class           object
dtype: object

In [21]:
datasets.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Class'], dtype='object')

In [ ]:
# How many observations (rows) are in total? // ¿Cuántas observaciones (filas) hay en total?
# Hay 150 filas en total 
# How many variables (columns) are in total? What do they represent? // ¿Cuántas variables (columnas) hay en total? ¿Qué representan?
# Hay 5 columnas en total, los variables representan 'SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth' y 'Class'
# How many observations are for each type of flower? // ¿Cuántas observaciones hay para cada tipo de flor?
# Hay 50 observaciones por cada tipo de flor
# What is the type of data for each variable? // ¿Cuál es el tipo de datos para cada variable?
# Todos son del tipo flotante excepto por el ultimo que es considerado objeto
# What are the units of each variable? // ¿Cuáles son las unidades de cada variable?
# Todos los variables son centimetros