In [39]:
import matplotlib.pyplot as plt
import pandas as pd
#Reading the data
cwData = pd.read_csv(r"C:\Users\alana\Documents\TC1002S\NotebooksProfessor\datasets\iris\iris.csv", header=None)

Exploring the content of the data set

In [40]:
#Exploring the number of rows and columns
print(cwData.shape)
print("Number of rows: ", cwData.shape[0])
print("Number of columns: ", cwData.shape[1])

(150, 5)
Number of rows:  150
Number of columns:  5

In [41]:
#Showing the entire data frame
display(cwData)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [42]:
#Showing the first 5 rows of our data frame
print(cwData.head())

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [43]:
#Showing the last 5 rows of our data frame
print(cwData.tail())

       0    1    2    3               4
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [44]:
#Showing the columns of the data frame
cwData.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [45]:
#Confirm data types are consistent, what variables represent
cwData.dtypes

0    float64
1    float64
2    float64
3    float64
4     object
dtype: object

Writing a data frame to a file

In [46]:
#Writing data to a file
cwData.to_csv("myNewData.csv")

In [47]:
#Renaming the names of the column
df = pd.read_csv("myNewData.csv")
df.rename(columns={"4":"Type of flower"}, inplace=True)
df.head()

   Unnamed: 0    0    1    2    3 Type of flower
0           0  5.1  3.5  1.4  0.2    Iris-setosa
1           1  4.9  3.0  1.4  0.2    Iris-setosa
2           2  4.7  3.2  1.3  0.2    Iris-setosa
3           3  4.6  3.1  1.5  0.2    Iris-setosa
4           4  5.0  3.6  1.4  0.2    Iris-setosa

In [48]:
#Selection of columns
a = df.loc[:, "2"]
b = df.loc[:, "3"]
print(a)

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: 2, Length: 150, dtype: float64

Get unique existing values

In [49]:
#Listing unique values in one of the columns
df["3"].unique()

array([0.2, 0.4, 0.3, 0.1, 0.5, 0.6, 1.4, 1.5, 1.3, 1.6, 1. , 1.1, 1.8,
       1.2, 1.7, 2.5, 1.9, 2.1, 2.2, 2. , 2.4, 2.3])

Filter, Sort and Groupby

In [50]:
#Sorting a column in ascending order
df.sort_values("3",ascending=True)

     Unnamed: 0    0    1    2    3  Type of flower
32           32  5.2  4.1  1.5  0.1     Iris-setosa
13           13  4.3  3.0  1.1  0.1     Iris-setosa
37           37  4.9  3.6  1.4  0.1     Iris-setosa
9             9  4.9  3.1  1.5  0.1     Iris-setosa
12           12  4.8  3.0  1.4  0.1     Iris-setosa
..          ...  ...  ...  ...  ...             ...
140         140  6.7  3.1  5.6  2.4  Iris-virginica
114         114  5.8  2.8  5.1  2.4  Iris-virginica
100         100  6.3  3.3  6.0  2.5  Iris-virginica
144         144  6.7  3.3  5.7  2.5  Iris-virginica
109         109  7.2  3.6  6.1  2.5  Iris-virginica

[150 rows x 6 columns]

Data Cleaning: Dealing with missing data

In [51]:
#Seen if there is non readable data
df.notnull().sum()

Unnamed: 0        150
0                 150
1                 150
2                 150
3                 150
Type of flower    150
dtype: int64

Adding and eliminating columns

In [52]:
df.columns
df.drop(columns=["Unnamed: 0"], inplace=True)
print(df)

       0    1    2    3  Type of flower
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

Renaming the columns

In [53]:
df = pd.read_csv('myNewData.csv')
df.rename(columns={"4":"Type of flower"}, inplace=True)
df.rename(columns={"0":"Sepal length"}, inplace=True)
df.rename(columns={"1":"Sepal width"}, inplace=True)
df.rename(columns={"2":"Petal length"}, inplace=True)
df.rename(columns={"3":"Petal width"}, inplace=True)
df.drop(columns=["Unnamed: 0"], inplace=True)
df.head()

   Sepal length  Sepal width  Petal length  Petal width Type of flower
0           5.1          3.5           1.4          0.2    Iris-setosa
1           4.9          3.0           1.4          0.2    Iris-setosa
2           4.7          3.2           1.3          0.2    Iris-setosa
3           4.6          3.1           1.5          0.2    Iris-setosa
4           5.0          3.6           1.4          0.2    Iris-setosa

In [54]:
#Getting mean of the data
print("Mean")
print(df.mean(numeric_only=True))

print("Standard Desviation")
print(df.std(numeric_only=True))

print("Median")
print(df.median(numeric_only=True))

Mean
Sepal length    5.843333
Sepal width     3.057333
Petal length    3.758000
Petal width     1.199333
dtype: float64
Standard Desviation
Sepal length    0.828066
Sepal width     0.435866
Petal length    1.765298
Petal width     0.762238
dtype: float64
Median
Sepal length    5.80
Sepal width     3.00
Petal length    4.35
Petal width     1.30
dtype: float64

In [55]:
print("Minimum")
print(df.min(numeric_only=True))

print("Maximum")
print(df.max(numeric_only=True))

Minimum
Sepal length    4.3
Sepal width     2.0
Petal length    1.0
Petal width     0.1
dtype: float64
Maximum
Sepal length    7.9
Sepal width     4.4
Petal length    6.9
Petal width     2.5
dtype: float64

Creating a new data set

In [56]:
#Create a new dataset containing only the sepal width and length and the type of Flower
keep = ["Sepal width", "Sepal length", "Type of flower"]
ab = df[keep]
ab.to_csv("sepal.csv")

In [57]:
#Create a new dataset containing only the petal width and length and the type of Flower
keep = ["Petal width", "Petal length", "Type of flower"]
ab = df[keep]
ab.to_csv("petal.csv")