In [ ]:
# Define where you are running the code: colab or local
RunInColab = True  # (False: no  | True: yes)

# If running in colab:
if RunInColab:
    # Mount your google drive in google colab
    from google.colab import drive
    drive.mount('/content/drive')

    # Define path del proyecto
    Ruta = "/content/drive/My Drive/Colab Notebooks/MachineLearningWithPython/"

else:
    # Define path del proyecto
    Ruta = ""

Mounted at /content/drive

In [ ]:
# Import the packages that we will be using
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset path (update this with the correct path if needed)
dataset_path = "/content/cartwheel.csv"

In [ ]:
# Load the dataset
df = pd.read_csv(dataset_path)

In [ ]:
# Print the dataset preview
print("Dataset Preview:")
print(df.head())

Dataset Preview:
   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score
0          79        Y            1.0      7
1          70        Y            1.0      8
2          85        Y            1.0      7
3          87        Y            1.0     10
4          72        N            0.0      4

In [ ]:
# Print the number of rows
print("\nNumber of rows:", df.shape[0])

Number of rows: 52

In [ ]:
# Print the number of columns
print("Number of columns:", df.shape[1])

Number of columns: 12