# Undertanding the cartwheel data set
Carlos Adrián Palmieri Álvarez A01635776

The notebook aims to undertand the content of the cartwheel data set.


## Acknowledgments

- Data from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Cartwheel data set

1. A cartwheel

![cartwheel1.png](https://drive.google.com/uc?export=view&id=1h6CbMZX9wtRIbxpREgHSLY5IKTEqq6l6)




2. The dataset description
    - The dataset used here is an extension from the original cartwheel dataset from cursera
    - Total numer of observations: 28
    - Many observations/measurements/recordings of the characteristics/attributes/variables of cartwheel executions
    - Variables: Age, Gender, GenderGroup, Glasses, GlassesGroup, Height, Wingspan, CWDistance, ... (X variables)

# Importing and inspecting the data

In [ ]:
# Define where you are running the code: colab or local
RunInColab          = True     # (False: no  | True: yes)

# If running in colab:
if RunInColab:
    # Mount your google drive in google colab
    from google.colab import drive
    drive.mount('/content/drive')

    # Find location
    #!pwd
    #!ls
    #!ls "/content/drive/My Drive/Colab Notebooks/MachineLearningWithPython/"

    # Define path del proyecto
    Ruta            = "/content/drive/My Drive/Colab Notebooks/MachineLearningWithPython/"

else:
    # Define path del proyecto
    Ruta            = ""

In [ ]:
# Import the packages that we will be using
import pandas as pd               # For data handling


# Dataset url
url = "../../NotebooksProfessor/cartwheel.csv"


# Load the dataset
df = pd.read_csv(url)
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56.0,F,1,Y,1,62.0,61.0,79,Y,1.0,7
1,2,26.0,F,1,Y,1,62.0,60.0,70,Y,1.0,8
2,3,33.0,F,1,Y,1,66.0,64.0,85,Y,1.0,7
3,4,39.0,F,1,N,0,64.0,63.0,87,Y,1.0,10
4,5,27.0,M,2,N,0,73.0,75.0,72,N,0.0,4

In [4]:
# Print the dataset
print(df)

    ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0    1  56.0      F            1       Y             1   62.00      61.0
1    2  26.0      F            1       Y             1   62.00      60.0
2    3  33.0      F            1       Y             1   66.00      64.0
3    4  39.0      F            1       N             0   64.00      63.0
4    5  27.0      M            2       N             0   73.00      75.0
5    6  24.0      M            2       N             0   75.00      71.0
6    7  28.0      M            2       N             0   75.00      76.0
7    8  22.0      F            1       N             0   65.00      62.0
8    9  29.0      M            2       Y             1   74.00      73.0
9   10  33.0      F            1       Y             1   63.00      60.0
10  11  30.0      M            2       Y             1   69.50      66.0
11  12  28.0      F            1       Y             1   62.75      58.0
12  13  25.0      F            1       Y             1   65.00      64.5
13  14  23.0      F            1       N             0   61.50      57.5
14  15  31.0      M            2       Y             1   73.00      74.0
15  16  26.0      M            2       Y             1   71.00      72.0
16  17  26.0      F            1       N             0   61.50      59.5
17  18  27.0      M            2       N             0   66.00      66.0
18  19  23.0      M            2       Y             1   70.00      69.0
19  20  24.0      F            1       Y             1   68.00      66.0
20  21  23.0      M            2       Y             1   69.00      67.0
21  22  29.0      M            2       N             0   71.00      70.0
22  23  25.0      M            2       N             0   70.00      68.0
23  24  26.0      M            2       N             0   69.00      71.0
24  25  23.0      F            1       Y             1   65.00      63.0
25  26  28.0      M            2       N             0   75.00      76.0
26  27  24.0      M            2       N             0   78.40      71.0
27  28  25.0      M            2       Y             1   76.00      73.0
28  29  32.0      F            1       Y             1   63.00      60.0
29  30  38.0      F            1       Y             1   61.50      61.0
30  31  27.0      F            1       Y             1   62.00      60.0
31  32  33.0      F            1       Y             1   65.30      64.0
32  33  38.0      F            1       N             0   64.00      63.0
33  34  27.0      M            2       N             0   77.00      75.0
34  35  24.0      F            1       N             0   67.80      62.0
35  36  27.0      M            2       N             0   68.00      66.0
36  37  25.0      F            1       Y             1   65.00      64.5
37  38  26.0      F            1       N             0   61.50      59.5
38  39  31.0      M            2       Y             1   73.00      74.0
39  40  30.0      M            2       Y             1   69.50      66.0
40  41  23.0      F            1       N             0   70.40      71.0
41  42  26.0      M            2       Y             1   73.50      72.0
42  43  28.0      F            1       Y             1   72.50      72.0
43  44  26.0      F            1       Y             1   72.00      72.0
44  45  30.0      F            1       Y             1   66.00      64.0
45  46  39.0      F            1       N             0   64.00      63.0
46  47  27.0      M            2       N             0   78.00      75.0
47  48  24.0      M            2       N             0   79.50      75.0
48  49  28.0      M            2       N             0   77.80      76.0
49  50  30.0      F            1       N             0   74.60       NaN
50  51   NaN      M            2       N             0   71.00      70.0
51  52  27.0      M            2       N             0     NaN      71.5

    CWDistance Complete  CompleteGroup  Score
0           79        Y            1.0      7
1           70        Y            1.0      8
2           85        Y            1.0      7
3           87        Y            1.0     10
4           72        N            0.0      4
5           81        N            0.0      3
6          107        Y            1.0     10
7           98        Y            1.0      9
8          106        N            0.0      5
9           65        Y            1.0      8
10          96        Y            1.0      6
11          79        Y            1.0     10
12          92        Y            1.0      6
13          66        Y            1.0      4
14          72        Y            1.0      9
15         115        Y            1.0      6
16          90        N            0.0     10
17          74        Y            1.0      5
18          64        Y            1.0      3
19          85        Y            1.0      8
20          66        N            0.0      2
21         101        Y            1.0      8
22          82        Y            1.0      4
23          63        Y            1.0      5
24          67        N            0.0      3
25         111        Y            1.0     10
26          92        Y            1.0      7
27         107        Y            1.0      8
28          75        Y            1.0      8
29          78        Y            1.0      7
30          72        Y            1.0      8
31          91        Y            1.0      7
32          86        Y            1.0     10
33         100        Y            1.0      8
34          98        Y            1.0      9
35          74        Y            1.0      5
36          92        Y            1.0      6
37          90        Y            1.0      9
38          72        Y            1.0      9
39          96        Y            1.0      6
40          66        Y            1.0      4
41         115        Y            1.0      6
42          81        Y            1.0     10
43          92        Y            1.0      8
44          85        Y            1.0      7
45          87        Y            1.0     10
46          72        N            0.0      7
47          82        N            0.0      8
48          99        Y            1.0      9
49          71        Y            1.0      9
50         101        Y            NaN      8
51         103        Y            1.0     10

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             52 non-null     int64
 1   Age            51 non-null     float64
 2   Gender         52 non-null     object
 3   GenderGroup    52 non-null     int64
 4   Glasses        52 non-null     object
 5   GlassesGroup   52 non-null     int64
 6   Height         51 non-null     float64
 7   Wingspan       51 non-null     float64
 8   CWDistance     52 non-null     int64
 9   Complete       52 non-null     object
 10  CompleteGroup  51 non-null     float64
 11  Score          52 non-null     int64
dtypes: float64(4), int64(5), object(3)
memory usage: 5.0+ KB

In [6]:
# Print the number of rows
print("The number of rows are: ", df.shape[0])

The number of rows are:  52

In [7]:
# Print the number of columns
print("The number of columns are: ", df.shape[1])
print("The columns area: ", df.columns)

The number of columns are:  12
The columns area:  Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [37]:
# Check for missing values
print(df.isnull().any())

# Printing the rows with missing values
print("\n",df[df.isnull().any(axis=1)])

ID               False
Age               True
Gender           False
GenderGroup      False
Glasses          False
GlassesGroup     False
Height            True
Wingspan          True
CWDistance       False
Complete         False
CompleteGroup     True
Score            False
dtype: bool

     ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
49  50  30.0      F            1       N             0    74.6       NaN
50  51   NaN      M            2       N             0    71.0      70.0
51  52  27.0      M            2       N             0     NaN      71.5

    CWDistance Complete  CompleteGroup  Score
49          71        Y            1.0      9
50         101        Y            NaN      8
51         103        Y            1.0     10

# Data types

In [9]:
# Printing the types of data in the dataset
print("The data types are: \n", df.dtypes)

The data types are:
 ID                 int64
Age              float64
Gender            object
GenderGroup        int64
Glasses           object
GlassesGroup       int64
Height           float64
Wingspan         float64
CWDistance         int64
Complete          object
CompleteGroup    float64
Score              int64
dtype: object

# Activity: work with the iris dataset

1. Load the iris.csv file in your computer and understand the dataset


2. How many observations (rows) are in total?


3. How many variables (columns) are in total? What do they represent?


4. How many observations are for each type of flower?


5. What is the type of data for each variable?


6. What are the units of each variable?

In [25]:
# Load the dataset of iris using scikit-learn
from sklearn import datasets

# Load the iris dataset
iris = datasets.load_iris()

# Load the data into a DataFrame and the name of the flowers
df_iris = pd.DataFrame(data= iris.data, columns= iris.feature_names)

# Add the target to the DataFrame
df_iris['target'] = iris.target

In [30]:
print("\nNumber of observations: ", len(df_iris))
print("\nNumber of columns: ", len(df_iris.columns))
print("\nColumns: ", df_iris.columns)
print("\nNumber of observations per flower type: \n", df_iris['target'].value_counts())

Number of observations:  150

Number of columns:  5

Columns:  Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

Number of observations per flower type:
 target
0    50
1    50
2    50
Name: count, dtype: int64

In [31]:
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [32]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [34]:
# Units of each variable:
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

|details-start|
**References**
|details-split|

- Fisher, R.A. "The use of multiple measurements in taxonomic problems"
  Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
  Mathematical Statistics" (John Wiley, NY, 1950).
- Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
  (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
- Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
  Structure and Classification Rule for Recognition in Partially Exposed
  Environments".  IEEE Transactions on Pattern Analysis and Machine
  Intelligence, Vol. PAMI-2, No. 1, 67-71.
- Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
  on Information Theory, May 1972, 431-433.
- See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
  conceptual clustering system finds 3 classes in the data.
- Many, many more ...

|details-end|