# Act. 2 Iris

In [25]:
# Import the packages that we will be using
import matplotlib.pyplot as plt
import pandas as pd

# Dataset url
url = "/Users/estebanm/Documents/SemanaTec/TC1002S/NotebooksProfessor/datasets/iris/iris.csv"

# Ingresar nombre a columnas
names = ['SEPAL_LENGTH', 'SEPAL_WIDTH', 'PETAL_LENGTH', 'PETAL_WIDTH', 'CLASS']

# Load the dataset
dataset = pd.read_csv(url, names=names)
dataset

     SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH           CLASS
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
# Name of each column
dataset.columns

Index(['SEPAL LENGTH', 'SEPAL_WIDTH', 'PETAL_LENGTH', 'PETAL_WIDTH', 'CLASS'], dtype='object')

In [7]:
# Type of each column
datatypes = dataset.dtypes

print(datatypes)

SEPAL LENGTH    float64
SEPAL_WIDTH     float64
PETAL_LENGTH    float64
PETAL_WIDTH     float64
CLASS            object
dtype: object

In [10]:
# Minimum, maximum, mean, average, median, standar deviation of variables
    
dataset.describe()

       SEPAL LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [20]:
# Dataset containing only the rows with the non-missing data

dataset.isnull().count

<bound method DataFrame.count of      SEPAL LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH  CLASS
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False        False  False
3           False        False         False        False  False
4           False        False         False        False  False
..            ...          ...           ...          ...    ...
145         False        False         False        False  False
146         False        False         False        False  False
147         False        False         False        False  False
148         False        False         False        False  False
149         False        False         False        False  False

[150 rows x 5 columns]>

In [21]:
# Dataset with only the petal width and length and the type of Flower

new_data = dataset[['PETAL_LENGTH', 'PETAL_WIDTH', 'CLASS']]
print(new_data)

     PETAL_LENGTH  PETAL_WIDTH           CLASS
0             1.4          0.2     Iris-setosa
1             1.4          0.2     Iris-setosa
2             1.3          0.2     Iris-setosa
3             1.5          0.2     Iris-setosa
4             1.4          0.2     Iris-setosa
..            ...          ...             ...
145           5.2          2.3  Iris-virginica
146           5.0          1.9  Iris-virginica
147           5.2          2.0  Iris-virginica
148           5.4          2.3  Iris-virginica
149           5.1          1.8  Iris-virginica

[150 rows x 3 columns]

In [26]:
# Dataset WITH only the sepal width and length and the type of Flower

new_data = dataset[['SEPAL_LENGTH', 'SEPAL_WIDTH', 'CLASS']]
print(new_data)

     SEPAL_LENGTH  SEPAL_WIDTH           CLASS
0             5.1          3.5     Iris-setosa
1             4.9          3.0     Iris-setosa
2             4.7          3.2     Iris-setosa
3             4.6          3.1     Iris-setosa
4             5.0          3.6     Iris-setosa
..            ...          ...             ...
145           6.7          3.0  Iris-virginica
146           6.3          2.5  Iris-virginica
147           6.5          3.0  Iris-virginica
148           6.2          3.4  Iris-virginica
149           5.9          3.0  Iris-virginica

[150 rows x 3 columns]

In [36]:
# Dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column 

new_data = dataset[['SEPAL_LENGTH', 'SEPAL_WIDTH', 'CLASS']].copy()

new_data.loc[:, "NEW_FLOWER_TYPE"] = new_data['CLASS'].replace({"Iris-setosa": 1, "Iris-versicolour": 2, "Iris-virginica": 3})

print(new_data)

     SEPAL_LENGTH  SEPAL_WIDTH           CLASS NEW_FLOWER_TYPE
0             5.1          3.5     Iris-setosa               1
1             4.9          3.0     Iris-setosa               1
2             4.7          3.2     Iris-setosa               1
3             4.6          3.1     Iris-setosa               1
4             5.0          3.6     Iris-setosa               1
..            ...          ...             ...             ...
145           6.7          3.0  Iris-virginica               3
146           6.3          2.5  Iris-virginica               3
147           6.5          3.0  Iris-virginica               3
148           6.2          3.4  Iris-virginica               3
149           5.9          3.0  Iris-virginica               3

[150 rows x 4 columns]