In [11]:
import pandas as pd

ruta = "datasets/iris/iris.csv"


iris = pd.read_csv(ruta)

In [12]:
iris.describe()

       Sepal Length  Sepal Width  Petal Length  Petal Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [13]:
iris.columns

Index(['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width',
       'FlowerType'],
      dtype='object')

In [14]:
iris.dtypes

Sepal Length    float64
Sepal Width     float64
Petal Length    float64
Petal Width     float64
FlowerType       object
dtype: object

In [15]:
iris.isnull()

     Sepal Length  Sepal Width  Petal Length  Petal Width  FlowerType
0           False        False         False        False       False
1           False        False         False        False       False
2           False        False         False        False       False
3           False        False         False        False       False
4           False        False         False        False       False
..            ...          ...           ...          ...         ...
145         False        False         False        False       False
146         False        False         False        False       False
147         False        False         False        False       False
148         False        False         False        False       False
149         False        False         False        False       False

[150 rows x 5 columns]

In [16]:
iris.head()

   Sepal Length  Sepal Width  Petal Length  Petal Width   FlowerType
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [17]:
iris.loc[:,["Sepal Length","Sepal Width","FlowerType"]]
#En el archivo no vienen nombres de las columnas
#en el archivo de texto decia que este era el orden

     Sepal Length  Sepal Width      FlowerType
0             5.1          3.5     Iris-setosa
1             4.9          3.0     Iris-setosa
2             4.7          3.2     Iris-setosa
3             4.6          3.1     Iris-setosa
4             5.0          3.6     Iris-setosa
..            ...          ...             ...
145           6.7          3.0  Iris-virginica
146           6.3          2.5  Iris-virginica
147           6.5          3.0  Iris-virginica
148           6.2          3.4  Iris-virginica
149           5.9          3.0  Iris-virginica

[150 rows x 3 columns]

In [18]:
iris.loc[:,["Petal Length","Petal Width","FlowerType"]]
#En el archivo no vienen nombres de las columnas
#en el archivo de texto decia que este era el orden

     Petal Length  Petal Width      FlowerType
0             1.4          0.2     Iris-setosa
1             1.4          0.2     Iris-setosa
2             1.3          0.2     Iris-setosa
3             1.5          0.2     Iris-setosa
4             1.4          0.2     Iris-setosa
..            ...          ...             ...
145           5.2          2.3  Iris-virginica
146           5.0          1.9  Iris-virginica
147           5.2          2.0  Iris-virginica
148           5.4          2.3  Iris-virginica
149           5.1          1.8  Iris-virginica

[150 rows x 3 columns]

In [19]:
x = iris.iloc[:,0:2]
y = iris.iloc[:,4]
print(x)
print(y)
#En el archivo no vienen nombres de las columnas
#en el archivo de texto decia que este era el orden

     Sepal Length  Sepal Width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]
0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: FlowerType, Length: 150, dtype: object