In [6]:
import pandas as pd

ruta = "datasets/iris/iris.csv"


iris = pd.read_csv(ruta)

In [7]:
iris.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.054362    3.773826    1.206040
std      0.828594    0.435810    1.760543    0.760354
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [11]:
iris.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [12]:
iris.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [13]:
iris.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.054362    3.773826    1.206040
std      0.828594    0.435810    1.760543    0.760354
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [15]:
iris.isnull()

       5.1    3.5    1.4    0.2  Iris-setosa
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [16]:
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [19]:
iris.loc[:,["1.4","0.2","Iris-setosa"]]
#En el archivo no vienen nombres de las columnas
#en el archivo de texto decia que este era el orden

     1.4  0.2     Iris-setosa
0    1.4  0.2     Iris-setosa
1    1.3  0.2     Iris-setosa
2    1.5  0.2     Iris-setosa
3    1.4  0.2     Iris-setosa
4    1.7  0.4     Iris-setosa
..   ...  ...             ...
144  5.2  2.3  Iris-virginica
145  5.0  1.9  Iris-virginica
146  5.2  2.0  Iris-virginica
147  5.4  2.3  Iris-virginica
148  5.1  1.8  Iris-virginica

[149 rows x 3 columns]

In [20]:
iris.loc[:,["5.1","3.5","Iris-setosa"]]
#En el archivo no vienen nombres de las columnas
#en el archivo de texto decia que este era el orden

     5.1  3.5     Iris-setosa
0    4.9  3.0     Iris-setosa
1    4.7  3.2     Iris-setosa
2    4.6  3.1     Iris-setosa
3    5.0  3.6     Iris-setosa
4    5.4  3.9     Iris-setosa
..   ...  ...             ...
144  6.7  3.0  Iris-virginica
145  6.3  2.5  Iris-virginica
146  6.5  3.0  Iris-virginica
147  6.2  3.4  Iris-virginica
148  5.9  3.0  Iris-virginica

[149 rows x 3 columns]

In [38]:
x = iris.iloc[:,0:2]
y = iris.iloc[:,4]
print(x)
print(y)
#En el archivo no vienen nombres de las columnas
#en el archivo de texto decia que este era el orden

     5.1  3.5
0    4.9  3.0
1    4.7  3.2
2    4.6  3.1
3    5.0  3.6
4    5.4  3.9
..   ...  ...
144  6.7  3.0
145  6.3  2.5
146  6.5  3.0
147  6.2  3.4
148  5.9  3.0

[149 rows x 2 columns]
0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
144    Iris-virginica
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
Name: Iris-setosa, Length: 149, dtype: object