# Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column
    - Minimum, maximum, mean, average, median, standar deviation
    
    
2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data


3. Create a new dataset containing only the petal width and length and the type of Flower


4. Create a new dataset containing only the setal width and length and the type of Flower


5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [4]:
#1.Cargar archivo .csv
import pandas as pd
ruta = "datasets/iris/iris.csv"
df = pd.read_csv(ruta)
df

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
#1a y 2a.Nombre de cada columna y su tipo de dato
df.dtypes

SepalLength    float64
SepalWidth     float64
PetalLength    float64
PetalWidth     float64
Class           object
dtype: object

In [5]:
#3a. Minimum, maximum, mean, average, median, standar deviation
df.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.057333     3.758000    1.199333
std       0.828066    0.435866     1.765298    0.762238
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [8]:
#2.Faltan datos? Crea un nuevo dataset solo con filas con datos validos
df.isnull().sum()
#encontramos que el dataset contiene solo datos validos

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Class          0
dtype: int64

In [22]:
#3.Crear una nueva dataset que contenga solo petal width y length and the type of Flower
df1 = df[["PetalLength", "PetalWidth", "Class"]]
df1.to_csv('myDataFrameW-LPetal_Iris.csv')
df1

     PetalLength  PetalWidth           Class
0            1.4         0.2     Iris-setosa
1            1.4         0.2     Iris-setosa
2            1.3         0.2     Iris-setosa
3            1.5         0.2     Iris-setosa
4            1.4         0.2     Iris-setosa
..           ...         ...             ...
145          5.2         2.3  Iris-virginica
146          5.0         1.9  Iris-virginica
147          5.2         2.0  Iris-virginica
148          5.4         2.3  Iris-virginica
149          5.1         1.8  Iris-virginica

[150 rows x 3 columns]

In [23]:
#4.Crear una nueva dataset que contenga solo sepal width y length and the type of Flower
df2 = df[["SepalLength", "SepalWidth", "Class"]]
df2.to_csv('myDataFrameW-LSepal_Iris.csv')
df2

     SepalLength  SepalWidth           Class
0            5.1         3.5     Iris-setosa
1            4.9         3.0     Iris-setosa
2            4.7         3.2     Iris-setosa
3            4.6         3.1     Iris-setosa
4            5.0         3.6     Iris-setosa
..           ...         ...             ...
145          6.7         3.0  Iris-virginica
146          6.3         2.5  Iris-virginica
147          6.5         3.0  Iris-virginica
148          6.2         3.4  Iris-virginica
149          5.9         3.0  Iris-virginica

[150 rows x 3 columns]

In [26]:
#5.Crear nuevo dataset que contenga setal width y length y el tipo de flor como columna numerica
df["ClassNum"] = df.Class.replace({"Iris-setosa": 1, "Iris-versicolor": 2, "Iris-virginica": 3})
df.to_csv('myDataFrameClassNum_Iris.csv')
df

,SepalLength,SepalWidth,PetalLength,PetalWidth,Class,ClassNum
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1
2,4.7,3.2,1.3,0.2,Iris-setosa,1
3,4.6,3.1,1.5,0.2,Iris-setosa,1
4,5.0,3.6,1.4,0.2,Iris-setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,3
146,6.3,2.5,5.0,1.9,Iris-virginica,3
147,6.5,3.0,5.2,2.0,Iris-virginica,3
148,6.2,3.4,5.4,2.3,Iris-virginica,3
149,5.9,3.0,5.1,1.8,Iris-virginica,3